.svg-cart {
	background: url("svg/sprite.css-e9461dd6.svg") 88.44660194174757% 62.41258741258741% no-repeat;
}

.svg-cart-dims {
	width: 21px;
	height: 18px;
}

.svg-css--svg--sprite.css-2ece6a57 {
	background: url("svg/sprite.css-e9461dd6.svg") 0 100% no-repeat;
}

.svg-css--svg--sprite.css-2ece6a57-dims {
	width: 251px;
	height: 180px;
}

.svg-css--svg--sprite.css-3f3817df {
	background: url("svg/sprite.css-e9461dd6.svg") 100% 0 no-repeat;
}

.svg-css--svg--sprite.css-3f3817df-dims {
	width: 400px;
	height: 311px;
}

.svg-css--svg--sprite.css-d496877b {
	background: url("svg/sprite.css-e9461dd6.svg") 0 0 no-repeat;
}

.svg-css--svg--sprite.css-d496877b-dims {
	width: 651px;
	height: 410px;
}

.svg-fb {
	background: url("svg/sprite.css-e9461dd6.svg") 42.857142857142854% 79.32263814616756% no-repeat;
}

.svg-fb-dims {
	width: 15px;
	height: 29px;
}

.svg-htmlacademy {
	background: url("svg/sprite.css-e9461dd6.svg") 37.5% 80.03597122302158% no-repeat;
}

.svg-htmlacademy-dims {
	width: 27px;
	height: 34px;
}

.svg-huge-arrow-left {
	background: url("svg/sprite.css-e9461dd6.svg") 70.02997002997003% 67.90780141843972% no-repeat;
}

.svg-huge-arrow-left-dims {
	width: 50px;
	height: 26px;
}

.svg-huge-arrow-right {
	background: url("svg/sprite.css-e9461dd6.svg") 65.03496503496504% 67.90780141843972% no-repeat;
}

.svg-huge-arrow-right-dims {
	width: 50px;
	height: 26px;
}

.svg-icon-2 {
	background: url("svg/sprite.css-e9461dd6.svg") 99.9015748031496% 55.935251798561154% no-repeat;
}

.svg-icon-2-dims {
	width: 35px;
	height: 34px;
}

.svg-icon-4 {
	background: url("svg/sprite.css-e9461dd6.svg") 80.32128514056225% 62.96296296296296% no-repeat;
}

.svg-icon-4-dims {
	width: 55px;
	height: 23px;
}

.svg-icon-5 {
	background: url("svg/sprite.css-e9461dd6.svg") 37.75811209439528% 72.82415630550622% no-repeat;
}

.svg-icon-5-dims {
	width: 34px;
	height: 27px;
}

.svg-icon-6 {
	background: url("svg/sprite.css-e9461dd6.svg") 40.37328094302554% 79.74910394265233% no-repeat;
}

.svg-icon-6-dims {
	width: 33px;
	height: 32px;
}

.svg-icon-mob-1 {
	background: url("svg/sprite.css-e9461dd6.svg") 34.543670264965655% 80.47016274864376% no-repeat;
}

.svg-icon-mob-1-dims {
	width: 32px;
	height: 37px;
}

.svg-icon-mob-3 {
	background: url("svg/sprite.css-e9461dd6.svg") 33.56573705179283% 72.82415630550622% no-repeat;
}

.svg-icon-mob-3-dims {
	width: 47px;
	height: 27px;
}

.svg-insta {
	background: url("svg/sprite.css-e9461dd6.svg") 75.41302235179786% 67.31107205623901% no-repeat;
}

.svg-insta-dims {
	width: 22px;
	height: 21px;
}

.svg-interior {
	background: url("svg/sprite.css-e9461dd6.svg") 24.85148514851485% 84.28030303030303% no-repeat;
}

.svg-interior-dims {
	width: 41px;
	height: 62px;
}

.svg-logo-footer {
	background: url("svg/sprite.css-e9461dd6.svg") 96.20653319283456% 55.935251798561154% no-repeat;
}

.svg-logo-footer-dims {
	width: 102px;
	height: 34px;
}

.svg-mishka-logo-des {
	background: url("svg/sprite.css-e9461dd6.svg") 72.1729490022173% 60.03861003861004% no-repeat;
}

.svg-mishka-logo-des-dims {
	width: 149px;
	height: 72px;
}

.svg-mishka-logo-mobile {
	background: url("svg/sprite.css-e9461dd6.svg") 26.010362694300518% 73.87387387387388% no-repeat;
}

.svg-mishka-logo-mobile-dims {
	width: 86px;
	height: 35px;
}

.svg-mishka-logo-tablet {
	background: url("svg/sprite.css-e9461dd6.svg") 85.28784648187633% 57.169117647058826% no-repeat;
}

.svg-mishka-logo-tablet-dims {
	width: 113px;
	height: 46px;
}

.svg-phone {
	background: url("svg/sprite.css-e9461dd6.svg") 73.19688109161794% 67.6678445229682% no-repeat;
}

.svg-phone-dims {
	width: 25px;
	height: 24px;
}

.svg-search {
	background: url("svg/sprite.css-e9461dd6.svg") 77.25072604065828% 67.07530647985989% no-repeat;
}

.svg-search-dims {
	width: 18px;
	height: 19px;
}

.svg-toy-svg {
	background: url("svg/sprite.css-e9461dd6.svg") 29.46518668012109% 84.12098298676749% no-repeat;
}

.svg-toy-svg-dims {
	width: 60px;
	height: 61px;
}

.svg-twitter {
	background: url("svg/sprite.css-e9461dd6.svg") 86.3680623174294% 62.63157894736842% no-repeat;
}

.svg-twitter-dims {
	width: 24px;
	height: 20px;
}

.svg-video {
	background: url("svg/sprite.css-e9461dd6.svg") 83.90578999018646% 62.852112676056336% no-repeat;
}

.svg-video-dims {
	width: 32px;
	height: 22px;
}

