.about {
  @include cf();
  padding-top: 50px;
  padding-bottom: 30px;
}

.about__item {
  position: relative;
  font: $ff2;
  font-size: 20px;
  padding-top: 50px;
  margin-bottom: 30px;
}

.about__item span {
  position: absolute;
  top: 0;
  //left: 15px;
  height: 50px;
  width: 50px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.icon-eco::before {
    @include sprite($icon-1);
  }
  &.icon-love::before {
    @include sprite($icon-2);
  }
  &.icon-style::before {
    @include sprite($icon-3);
  }
  &.icon-support::before {
    @include sprite($icon-4);
  }
  &.icon-like::before {
    @include sprite($icon-5);
  }
  &.icon-gift::before {
    @include sprite($icon-6);
  }

}

// mobile only start
@media (max-width: 767px) {
  .about {
    @include cf();
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__title,
  .about__item {
    padding-left: 0;
    padding-right: 0;
  }
  .about__item {
    padding-top: 60px;
    margin-bottom: 20px;
    font-size: 16px;
  }
// mobile only end
}

// tablet start
@media (min-width: 768px) {
  .about__title {
    padding-left: 0;
    padding-right: 0;
  }
  .about__item {
    padding-right: 50px;
    padding-left: 0;
  }

// tablet end
}

// desktop start
@media (min-width: 1200px) {
  .about__title h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  // desktop end
}
