.catalog {
  display: flex;
  flex-wrap: wrap;
  @include cf();
}

.card-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 0 9px rgba(#ccc, .3);
  &:hover {
    box-shadow: 2px 0 18px rgba(#ccc, .7);
    transition: .25s;
  }
}

.card-item__content {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 30px;
  border: 1px solid #ececec;
}

.card-item__desk {
  position: relative;
  padding: 25px 0;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ececec;
  }
}

.card-item__parameters {
  margin-bottom: 0;
}

.card-item__bonus {
  padding: 15px 0;
}

.card-item__name,
.card-item__price {
  font: $ff2;
}

.card-item__price {
  position: relative;
  padding: 25px 0;
}

.card-item__name,
.card-item__price {
  @include f18();
}

.icon-phone {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  //@include sprite($phone);
  background: url('/img/icons/phone.png') 50% no-repeat;
  &:hover {
    //@include sprite($phone-hv);
    background: url('/img/icons/phone-hv.png') 50% no-repeat;
    transition: .25s;
  }
}

.card-item__img {
  text-align: center;
  background-color: #bcbdbf;
}

// extra small start
@media (max-width: 400px) {

  .catalog {
    padding-left: 0;
    padding-right: 0;
  }

  // extra small end
}

// mobile only start
@media (max-width: 767px) {

  .card-item__desk,
  .card-item__price {
    padding: 20px 0;
  }

  .icon-phone {
    background-position-x: 100%;
    &:hover {
      background-position-x: 100%;
    }
  }

// mobile only end
}

// tablet start
@media (min-width: 768px) {

  .card-item {
    flex-direction: row;
    margin-bottom: 30px;
  }

  // tablet end
}

// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {

  .card-item__content {
    display: flex;
    flex-direction: column;
  }

  .card-item__price {
    margin-top: auto;
  }

// tablet only end
}

// desktop start
@media (min-width: 1200px) {

  .catalog {
    align-items: flex-start;
  }

  .card-item {
    flex-direction: column;
    width: 30%;
    margin-right: 5%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  // desktop end
}
