.contacts {
  @include mw();
  padding-top: 40px;
  padding-bottom: 30px;
}

.contacts__info,
.contacts__map {
  padding-left: 0;
  padding-right: 0;
}

.contacts__info {
  @include cf();
  position: relative;
}

.contacts__map {
  height: 457px;
  max-width: 100%;
}

#map {
  height: 100%;
  //width: 100%;
}

.contacts__btn {
  margin-top: 30px;
}

// mobile only start
@media (max-width: 767px) {
  .contacts__info {
    margin-bottom: 25px;
  }
  .contacts__mail {
    margin-bottom: 10px;
  }
  .contacts__btn {
    margin-left: 30px;
    margin-right: 30px;
  }
  // mobile only end
}

// tablet start
@media (min-width: 768px) {
  .contacts {
    @include cf();
    padding-bottom: 50px;
  }
  .contacts__info {
    margin-bottom: 55px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      @include sprite($flag);;
    }
  }

  // tablet end
}

// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {
  .contacts__btn {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
// tablet only end
}

// desktop start
@media (min-width: 1200px) {

  .contacts {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .contacts__info::before {
    left: -80px;
  }
  .contacts__btn {
    margin-top: -52px;
  }
  // desktop end
}
