#footer {
  background: #f1f1f1;
  p {
    margin: 0;
  }
}

.footer__inner {
  @include bcf();
  min-height: 143px;
  align-items: center;
}

.footer__logo {
  text-align: left;
  &-link {
    display: inline-block;
    width: 102px;
    height: 34px;
    @include sprite($logo-footer);
    &:hover {
      @include sprite($logo-footer-hv);
      transition: .25s;
    }
    &:active {
      opacity: .5;
    }
  }
}

.footer__social {
  text-align: center;
  padding-bottom: 10px;
}

.footer__copyright {
  text-align: right;
}

.social-link {
  display: inline-block;
  margin-right: 15px;
  transition: .25s;
  &:last-child {
    margin-right: 0;
  }
  &-ins {
    @include sprite($ins);
    &:hover {
      @include sprite($ins-hv);
    }
  }
  &-fb {
    @include sprite($fb);
    &:hover {
      @include sprite($fb-hv);
    }
  }
  &-tw {
    @include sprite($tw);
    &:hover {
      @include sprite($tw-hv);
    }
  }
  &:active {
    opacity: .5;
  }
}

.footer__dev {
  p {
    display: block;
  }
  p:first-child {
    padding-bottom: 10px;
  }
  a {
    display: inline-flex;
    color: #000;
    text-decoration-color: #62D1BA;
    &:hover {
      text-decoration: underline;
      transition: 2s;
    }
  }
  font-weight: bold;
  text-align: right;
  span {
    line-height: 26px;
    margin-left: auto;
    margin-right: 10px;
  }
}

.footer__dev a:hover {
  #github-logo,
  #htmlacademy-logo {
    transition: .25s;
    opacity: .75;
  }
}

.footer__dev a:active {
  #github-logo,
  #htmlacademy-logo {
    opacity: .5;
  }
}

#github-logo,
#htmlacademy-logo {
  width: 26px;
  fill: #62D1BA;
  stroke: #62D1BA;
  transition: .25s;
}

#github-logo {
  height: 26px;
}

#htmlacademy-logo {
  height: 30px;
}

// mobile only start
@media (max-width: 767px) {
  .footer__social,
  .footer__dev {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__social {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      bottom: 0;
      left: -15px;
      right: -15px;
      background: #e5e5e5;
    }
  }
  .footer__logo {
    display: none;
  }
  .footer__dev p {
    text-align: center;
  }
  // mobile only end
}
