input[type=radio],
input[type=checkbox] {
  display: none;
}

.r-indicator,
.ch-indicator {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 2px solid #444444;
  margin-right: 10px;
  vertical-align: middle;
  transition: .25s;
}

.r-indicator {
  border-radius: 50%;
}

label:hover .r-indicator,
label:hover .ch-indicator {
  //@include hv();
  border-color: #62d1ba;
}

label:active .r-indicator,
label:active .ch-indicator {
  //@include act();
  border-color: #444444;
  opacity: .7;
}

input:checked ~ label .r-indicator::after,
input:checked ~ label .ch-indicator::before,
input:checked ~ label .ch-indicator::after {
  content: '';
  position: absolute;
  background: #444444;
}

input:checked ~ label .r-indicator::after {
  height: 16px;
  width: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

input:checked ~ label .ch-indicator::before,
input:checked ~ label .ch-indicator::after {
  height: 2px;
}

input:checked ~ label .ch-indicator::before {
  width: 12px;
  left: 6px;
  top: 20px;
  transform: rotate(45deg);
}

input:checked ~ label .ch-indicator::after {
  width: 18px;
  left: 13px;
  top: 17px;
  transform: rotate(-45deg);
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  width: 100%;
  outline: none;
}

textarea {
  resize: vertical;
  border: 2px solid #444;
  padding: 15px;
  margin-bottom: 25px;
}

input[type=text],
input[type=tel],
input[type=email] {
  height: 56px;
  line-height: 56px;
  padding-right: 40px;
  border: none;
  border-bottom: 2px solid #444;
  white-space: nowrap;
}

input[type=tel],
input[type=email] {
  padding-right: 40px;
}

.form__b-item,
.form__b-wrap-contacts .form__b {
  margin-bottom: 25px;
}

.form__b-item-tel,
.form__b-item-mail {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
}

::placeholder {
  opacity: .7;
}

.form__b-item-tel::after {
  @include sprite($phone);
}

.form__b-item-mail::after {
  @include sprite($mail);
}

.form__b-item-tel:hover::after,
.form__b-item-tel:active::after,
.form__b-item-tel:focus::after {
  @include sprite($phone-hv);
}

.form__b-item-mail:hover::after,
.form__b-item-mail:active::after,
.form__b-item-mail:focus::after {
  @include sprite($mail-hv);
}

input[type=text]:hover,
input[type=tel]:hover,
input[type=email]:hover,
textarea:hover {
  border-color: #62d1ba;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: #62d1ba;
}

.form__intro {
  margin-left: auto;
  margin-right: auto;
}

.form__intro br {
  display: none;
}

.form__intro,
.form__b {
  @include cf();
}

.form__b-wrap-contacts,
.form__intro,
.form__b {
  padding-top: 25px;
}

.form__b {
  font-weight: bold;
}

.form__b-wrap-contacts .form__b {
  padding-top: 0;
  padding-bottom: 0;
}

.form__b-naming label,
.form__b-naming input {
  display: block;
}

.form__b-name {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #62d1ba;
  .form__b-name-line {
    flex-shrink: 1;
    position: relative;
    width: 100%;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      background: #62d1ba;
    }
  }
}

.form__item {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__b-wrap-submit {
  margin-bottom: 35px;
}

.form__btn {
  width: 100%;
}

.form__b-require {
  position: relative;
  &::after {
    content: '*';
    position: absolute;
    color: #FF8AD4;
    @include f17();
    margin-left: 3px;
    margin-top: -3px;
  }
}

// mobile only start
@media (max-width: 767px) {

  input[type=text],
  input[type=tel],
  input[type=email] {
    height: 42px;
    line-height: 42px;
  }

  .form__intro,
  .form__b {
    max-width: 400px;
  }

  .form__b-name b {
    padding-right: 18px;
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {

  input[type=text],
  input[type=tel],
  input[type=email] {
    flex-shrink: 1;
    padding-left: 15px;
  }

  .form__b-wrap-contacts {

    input[type=tel],
    input[type=email] {
      background: #F1F1F1;
    }

    .form__b-name, .form__item {
      margin-bottom: 0;
    }

  }

  .form__intro br {
    display: block;
  }

  .form__b-wrap-contacts,
  .form__intro,
  .form__b {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .form__b-wrap {
    display: flex;
    flex-direction: row;

    &:nth-child(2n) {
      background: #f1f1f1;
    }
  }

  .form__b {
    display: flex;
  }

  .form__b,
  .form__intro {
    flex-grow: 1;
  }

  .form__b-color .form__b-content {
    display: flex;
    flex-wrap: wrap;

    .form__b-item {
      width: 50%;
    }
  }

  .form__b-wrap-contacts {
    flex-direction: column;

    .form__b {
      flex-direction: row;
      width: 100%;
    }
  }

  .form__b-item {
    display: flex;
    align-items: baseline;

    label {
      padding-right: 18px;
      margin-bottom: 0;
    }
  }

  .form__b-name {
    align-self: start;
    width: 25%;
    padding-top: 16px;
  }

  .form__b-type,
  .form__b-color {

    .form__b-name {
      padding-top: 8px;
    }

  }

  .form__b-content {
    width: 75%;
  }

  .form__b-name-line {
    display: none;
  }

  .form__b-wrap-submit {
    margin-bottom: 45px;
  }

  // tablet end
}

// desktop start
@media (min-width: 1200px) {

  .form__b-wrap-contacts,
  .form__intro,
  .form__b {
    padding-top: 75px;
    padding-bottom: 50px;
  }


  .form__intro p {
    padding-left: 19%;
  }
  
  .form__b-name {
    width: 19%;
    b {
      margin: 0 auto;
    }
  }

  .form__b-content {
    width: 62%;
  }

  .form__b-color .form__b-item {
    width: 33%;
  }

  .form__b-wrap-submit {
    margin-bottom: 55px;
  }

  // desktop end
}
