#galpop-close {
  border: 4px solid #D6D6D6;
  border-radius: 50%;
  &::after {
    content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
}
