.s-header__nav {
  @include mw();
  position: relative;
}

.header__top {
  position: relative;
  background: #fff;
}

.header__bot {
  position: absolute;
  min-height: 64px;
  width: 300px;
  right: 0;
  padding-top: 22px;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
}

.nav__item-logo-mobile {
  display: none;
}

.nav__item {
  display: flex;
  position: relative;
  vertical-align: top;
  a {
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font: $ff2;
    color: #000;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: auto;
    &:hover {
      opacity: .5;
      transition: .25s;
    }
    &:active {
      opacity: .25;
    }
  }
}

.nav__item-logo a {
  padding: 0;
  line-height: 89px;
}

.nav__item-logo-mobile img,
.nav__item-logo img {
  width: 86px;
  //filter: contrast(200%) brightness(150%) hue-rotate(90deg) grayscale(50%) opacity(.1);
  filter: contrast(200%) hue-rotate(180deg);
  //filter:;

  &:hover {
    filter: opacity(.5);
    transition: .25s;
  }
  &:active {
    filter: opacity(.25);
  }
}

// mobile only start
@media (max-width: 767px) {
  .nav {
    position: relative;
  }
  .nav__list {
    position: relative;
    display: none;
    padding-bottom: 80px;
  }
  .nav__list--no-js {
    display: flex;
  }
  .nav__item {
    position: relative;
    order: 1;
  }
  .nav__item-logo {
    order: 2;
    position: absolute;
    bottom: 0;
  }
  .nav__item-logo-mobile::after,
  .nav__item::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #e7e7e7;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .nav__item a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .nav__item-logo a {
    padding: 0;
    line-height: 80px;
  }
  .nav__item-logo-mobile {
    display: block;
    line-height: 80px;
    text-align: center;
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
  .header__bot {
    display: none;
  }
  // mobile only end
}

// tablet start
@media (min-width: 768px) {
  #header {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      z-index: 22;
      height: 24px;
      background: url('/img/zigzag-fill-tab.png') 50% 0 repeat-x;
    }
  }

  .nav__list {
    display: flex !important;
  }

  .hamburger-close {
    display: none !important;
  }

  .nav__item:first-child::after,
  .nav__item:last-child::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #e7e7e7;
    top: 0;
    bottom: 0;
  }

  .nav__item:first-child::after {
    right: 0;
  }

  .nav__item:last-child::after {
    left: 0;
  }
  .nav__item-logo img {
    width: 113px;
  }
  .header__bot-share {
    font-size: 14px;
    text-align: center;
  }
  // tablet end
}

// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {
  .nav__item:nth-child(-n+2) {
    position: absolute;
    bottom: -64px;
    z-index: 1;
    width: 30%;
    a {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 14px;
    }
  }
  .nav__item:nth-child(1) {
    left: 0;
  }
  .nav__item:nth-child(2) {
    left: 30%;
  }

  // tablet only end
}

// desktop start
@media (min-width: 1200px) {
  #header::after {
    height: 34px;
    background: url('/img/zigzag-fill-desktop.png') 50% 0 repeat-x;
  }
  .nav__item-logo img {
    width: 149px;
  }
  // desktop end
}
