.s-hero {
  background-color: #f9f9f9;
}
#index-body .s-hero {
  background-image: url('../img/hero-desktop.jpg');
  background-position:  50% 50%;
  background-repeat:  no-repeat;
}
.hero {
  @include cf();
  padding: 50px 30px 30px;
  font: $ff2;
}
#index-body .hero {
  min-height: 373px;
}
#works-body .hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
// mobile only start
@media (max-width: 767px) {
  #index-body .s-hero {
    background-image: url('../img/hero-mobile.jpg');
  }
// mobile only end
}

// tablet start
@media (min-width: 768px) {
  .hero {
    padding: 100px 90px 90px;
    font-size: 40px;
  }
  #index-body .hero {
    min-height: 627px;
  }
  #works-body .hero {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  // tablet end
}

// desktop start
@media (min-width: 1200px) {
  .hero {
    padding: 100px 150px 150px;
    font-size: 50px;
  }
  #index-body .hero {
    min-height: 746px;
  }
  #works-body .hero {
    padding-bottom: 90px;
  }

// desktop end
}
