.mymodal {
  //display: none;
  position: fixed;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  box-shadow: 0 0 25px rgba(#ccc, .35);
  border: 3px double rgba(#f9f, .35);
  z-index: 9999;
}
#modal-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  background: rgba(#f9f, .15);
}
.preloader {
  display: none;
}

.buy-modal {
  display: none;
  .buy-btn {
    margin-top: 30px;
    display: block;
    width: 100%;
  }
  p {
    margin: 0;
  }
}
.reviews-modal {
  display: none;
}
.reviews-status {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.reviews-status--success {
  background-color: rgba(#62D1BA, .5);
  border-color: rgba(#62D1BA, .75);
  color: #62D1BA;
}
.reviews-status--error {
  background-color: rgba(#FF8AD4, .5);
  border-color: rgba(#FF8AD4, .75);
  color: #FF8AD4;
}
