.mymodal {
  display: none;
  position: fixed;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  box-shadow: 3px 1px 15px rgba(#ccc, .5);
  border: 3px double rgba(#f9f, .35);
  z-index: 9999;
  .mymodal__inner {
    width: auto;
  }
}

#modal-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  background: rgba(#f9f, .15);
}

.btn-wrap .btn {
  margin-left: auto;
  margin-right: auto;
}

.buy-modal {
  width: 100%;
  max-width: 380px;
  text-align: center;
  .buy-btn {
    margin-top: 30px;
    display: block;
    width: 100%;
  }
  p {
    margin: 0;
  }
}
.call-us {
  display: inline-block;
  margin-bottom: 15px;
}
.buy-modal__phone {
  position: relative;
  padding-left: 65px;
  text-align: left;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: url('/img/call-now-small.gif') no-repeat;
  }
}

.reviews-status,
.contacts-status {
  display: none;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 1px 1px 0 #2e2e2e;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}

.reviews__name,
.reviews__email,
.reviews__msg,
.contacts__name,
.contacts__email,
.contacts__msg {
  margin-bottom: 10px;
}

.reviews__email,
.contacts__email {
  margin-left: auto;
}
.contacts__msg,
.reviews__msg {
  margin-bottom: 20px;
}
.contacts__msg,
.reviews__msg {
  margin-bottom: 20px;
}

.btn-wrap {
  display: flex;
  .reviews-btn__close {
    margin-left: auto;
  }
}

.reviews-status--error,
.contacts-status--error {
  background-color: rgba(#FF8AD4, .5);
  border-color: rgba(#FF8AD4, .75);
  color: #FF8AD4;
}

.reviews-status--success,
.contacts-status--success {
  background-color: rgba(#62D1BA, .5);
  border-color: rgba(#62D1BA, .75);
  color: #62D1BA;
}

.btn-wrap .btn {
  width: 100%;
}

// mobile only start
@media (max-width: 767px) {
  .mymodal {
    padding: 15px 30px;
  }
  .reviews-btn__close,
  .contacts-btn__close {
    margin-top: 10px;
  }
  .buy-modal {
    width: 100%;
  }
  .call-us {
    display: inline-block;
    margin-bottom: 10px;
  }
  .buy-modal__phone {
    position: relative;
    padding-top: 60px;
    padding-left: 0;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      background: url('/img/call-now-small.gif') no-repeat;
    }
  }
  .buy-btn.btn {
    margin-top: 15px;
  }

// mobile only end
}

// tablet start
@media (min-width: 768px) {

  .reviews__name,
  .reviews__email,
  .reviews__msg,
  .contacts__name,
  .contacts__email,
  .contacts__msg {
    margin-bottom: 15px;
  }

  // tablet end
}
