.order-status {
  display: none;
  position: relative;
  width: 100%;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-family: $ff;
  text-align: center;
  transition: .25s;
}

.order-preloader {
  display: none;
  height: 20px;
  width: 100%;
  padding: .75rem 0;
  margin-bottom: 1rem;
}

.order-status__error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.order-status__success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
