.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
  background-image: none;
  width: 16px;
  height: 16px;
  background: #f9f;
  //border-width: 8px;
  border-style: solid;
  border-color: azure;
  box-shadow: inset 0 0 5px #000;
}

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  border: none;
  background: none;
  //height: 31px;
  height: 0;
  width: 48px;
  border: 1px solid #ccc;
}

.ui-widget-content {
  border: none !important;
}

.ui-tabs .ui-tabs-nav li {
  border-bottom: none;
}

.ui-tabs .ui-tabs-nav li {
  border: none;
  background: none;
}

.s-product {
  position: relative;
  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }
  &::after {
    height: 17px;
    bottom: 0;
    background: url('/img/zigzag-line-mob.png') 50% 0 repeat-x;
  }
}

.product {
  @include cf();
  //margin-top: -140px;
  &__list {
    background: none;
    border: none;
    outline: none;
  }
}

.product__header {
  font-size: 0;
}

.interior,
.toys {
  border: none;
  &:active p {
    color: rgba(#fff, .5);
  }
}

.interior a,
.toys a {
  display: block;
  width: 100%;
  position: relative;
  height: 136px;
  color: #e9ffe9 !important;
  font-size: 20px;
  font-weight: bold;
  padding: 30px !important;
  padding-right: 100px;
  text-decoration: none;
  &:after {
    content: '';
    position: absolute;
    top: 60px;
    right: 30px;
    transform: translateY(-50%);
  }
  p {
    text-shadow: -1px -1px rgba(#3e3e3e, .3);
    margin-bottom: 0;
  }
}

.interior a,
.toys a {
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px #ccc;
  background: linear-gradient(170deg, rgba(98, 209, 186, .8) 0%, rgba(103, 219, 196, .8) 16%, rgba(90, 191, 171, .8) 36%, rgba(98, 209, 186, .8) 63%, rgba(86, 184, 164, .8) 100%);
  &:hover {
    filter: brightness(105%);
  }
}

.interior a {
  &:after {
    @include sprite($interior);
  }
}

.toys a {
  &:after {
    @include sprite($toy);
  }
}

.ui-tabs-active a {
  //background: #63d1bb;
  filter: brightness(110%);
}

.paremeter__row {
  border-bottom: 1px solid #eee;
  .paremeter__col {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .paremeter__col:first-child {
    width: 90px;
  }
}

.product__desc {
  color: #444;
  font-size: 15px;
}

.product__header {
  margin-bottom: 50px;
  h2 {
    text-align: left;
  }
}

.product__body {
  display: flex;
}

.product__intro {
  margin-bottom: 25px;
}

.paremeters {
  width: 100%;
  margin-bottom: 25px;
}

.product__header h2,
.product__promo {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.product__promo {
  color: #63d1bb;
  font: $ff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.product__img {
  text-align: center;
  picture {
    transition: .05s;
  }
  picture:hover {
    filter: brightness(103%);
  }
}

.product__order {
  text-align: center;
}

.product__price-wrap {
  display: block;
  margin-bottom: 25px;
  font-weight: bold;
  color: #444444;
}

.product__price,
.product__value {
  width: 50%;
}

.product__btn {
  width: 100%;
  line-height: 48px;
  padding: 0;
}

// mobile only start
@media (max-width: 767px) {

  .ui-tabs .ui-tabs-nav li {
    height: 100px;
  }

  .product__tab {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 45px !important;
    .product__header {
      margin-left: -10px;
      margin-right: -10px;
    }
    h2 {
      margin-bottom: 0;
    }
  }
  .interior a,
  .toys a {
    font-size: 18px;
    height: 100%;
    padding-top: 40px !important;

    br {
      display: none !important;
    }
    &:after {
      top: 50px;
    }
  }
  .product__list {
    margin-bottom: 20px !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
  .product__header {
    margin-bottom: 25px;
  }
  .product__promo br {
    display: none;
  }
  .product__img {
    margin-bottom: 20px;
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {
  .s-product {
    &::after {
      height: 23px;
      background: url('/img/zigzag-line-desktop.png') 50% 0 repeat-x;
    }
  }
  .product__tab {
    padding-bottom: 70px !important;
  }
  .product__header {
    text-align: left;
  }
  .product__list.ui-tabs-nav {
    margin-bottom: 50px !important;
    margin-top: -8px;
  }
  .interior,
  .toys {
    margin: 0 !important;
    position: relative;
    &:hover {
      a {
        position: absolute;
        top: -10px;
        min-height: 146px;
        margin-top: -146px;
        transition: margin-top .3s ease;
      }
    }
  }
  .interior a,
  .toys a {
    margin-top: -144px;
    padding: 35px;
  }
  .product__promo {
    margin-left: auto;
  }
  .product__intro {
    margin-bottom: 50px;
  }
  .paremeters {
    margin-bottom: 155px;
  }
  .product__order {
    margin-top: -103px;
  }
  .product__price-wrap {
    @include f18();
    margin-bottom: 30px;
  }

  // tablet end
}

// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {
  .product__img {
    padding-top: 10px;
  }
  // tablet only end
}

// desktop start
@media (min-width: 1200px) {
  .product__tab {
    padding-bottom: 90px !important;
  }
  .product__list {
    padding-top: 0;
    margin-bottom: 70px !important;
  }
  .product__header {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .product__header h2 {
    order: 2;
  }
  .product__intro {
    margin-bottom: 60px;
  }
  .paremeters {
    margin-bottom: 142px;
  }
  .product__promo {
    margin-right: auto;
    order: 1;
  }

  .product__img {
    padding: 0;
    margin-top: -150px;
  }

  // desktop end
}
