// extra small start
@media (max-width: 400px) {
  .g-recaptcha {

    transform:scale(0.73);
    transform-origin:0 0;
    //max-width: 260px !important;
    //overflow: hidden !important;
    //
    //.rc-anchor-normal-footer,
    //.rc-anchor-logo-portrait {
    //  margin-left: -20px !important;
    //}
    //
    //.rc-anchor-light.rc-anchor-normal,
    //.rc-anchor-normal {
    //  box-sizing: border-box !important;
    //  max-width: 260px !important;
    //}

  }
  // extra small end
}
