.bx-wrapper {
  box-shadow: none;
  margin-top: -120px;
  border: none;

  .bx-pager.bx-default-pager a {
    height: 14px;
    width: 14px;
    background: rgba(#62d1ba, .5);
    border-radius: 50%;
    &:hover,
    &:focus:hover {
      background: #62d1ba;
    }
    &:focus {
      background: rgba(#62d1ba, .5);
    }
    &.bx-pager-link.active {
      background: rgba(#62d1ba, .5);
      box-shadow: 0 0 0 3px #62d1ba;
    }
  }

}

.reviews__container {
  padding-top: 80px;
  position: relative;
  &::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 17px;
    background: url('/img/zigzag-line-mob.png') 50% 0 repeat-x;
    z-index: 2;
  }
}

.reviews {
  @include cf();
  padding-bottom: 50px;
}

.reviews__title {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.reviews__title,
.reviews__btn {
  z-index: 2;
}

.bx-wrapper,
.bx-viewport {
  max-width: 100% !important;
  width: 100% !important;
}

.bx-viewport {
  border: none;
}

.reviews__item {
  width: auto !important;
  height: 384px;
  padding-top: 180px;
  padding-bottom: 100px;
  &:hover p {
    overflow: visible;
  }
}

.reviews__auth {
  position: absolute;
  left: 0;
  bottom: 100px;
  font-weight: bold;
}

.reviews__more {
  position: relative;
  &::after {
    content: '->>';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f9f;
  }
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  height: 50px !important;
  width: 70px !important;
  &:hover {
    filter: opacity(.75);
  }
  &:active {
    filter: opacity(.5);
  }
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  width: 70px;
  position: absolute;
}

.bx-wrapper .bx-prev {
  background: url('../img/icons/huge-arrow-left.png') 50% no-repeat;
  &:hover,
  &:focus {
    background: url('../img/icons/huge-arrow-left.png') 50% no-repeat;
  }
}

.bx-wrapper .bx-next {
  background: url('../img/icons/huge-arrow-right.png') 50% no-repeat;
  &:hover,
  &:focus {
    background: url('../img/icons/huge-arrow-right.png') 50% no-repeat;
  }
}

.bx-wrapper .bx-controls-direction a.bx-prev {
  right: 106px;
  left: auto;
}

.bx-wrapper .bx-controls-direction a.bx-next {
  right: 20px;
  left: auto;
}

// mobile only start
@media (max-width: 767px) {

  .reviews__container {
    padding-top: 20px;
  }

  .bx-wrapper {
    margin-top: 0;
  }
  .bx-viewport {
    position: relative;
    &::before {
      bottom: 12px;
      content: '';
      position: absolute;
      bottom: 12px;
      left: 50%;
      height: 50px;
      width: 1px;
      background: #ececec;
    }
  }
  .reviews__item {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
    padding-top: 30px;
    font-size: 14px;
    line-height: 20px;
  }
  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    width: 50% !important;
  }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: auto;
    bottom: 12px;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #ececec;
    }
    &.bx-prev {
      left: 0;
      &::before {
        border-right: none;
      }
    }
    &.bx-next {
      right: 0;
      &::before {
        border-left: none;
      }
    }
  }
  .reviews__btn {
    display: block;
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {

  .bx-wrapper {
    min-height: 457px;
    .bx-pager {
      bottom: 0;
    }
  }

  .reviews__auth {
    left: 50px;
    bottom: 80px;
  }

  .bx-wrapper .bx-controls-direction a {
    top: auto;
    bottom: 135px;
  }

  .reviews__container::after {
    height: 23px;
    background: url('/img/zigzag-line-desktop.png') 50% 0 repeat-x;
  }

  .bx-viewport {
    background: url('../img/review.jpg') 0 100% no-repeat;
  }
  .reviews__btn {
    margin-right: 15px;
  }

  // tablet end
}

// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {

  .reviews {
    padding-left: 0;
    padding-right: 0;
    &__item {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .reviews__title {
    margin-left: 50px;
  }

  .reviews__btn {
    margin-right: 50px;
  }

  .bx-wrapper .bx-controls-direction a.bx-prev {
    right: 152px;
    left: auto;
  }

  .bx-wrapper .bx-controls-direction a.bx-next {
    right: 66px;
    left: auto;
  }

  // tablet only end
}

// desktop start
@media (min-width: 1200px) {
  .reviews__auth {
    left: 15px;
  }
// desktop end
}
