.scroll-top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  border-radius: 10em;
  color: #E9FFE9;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .3s ease;
  opacity: .5;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px rgba(#ccc, 1), 1px 3px 9px rgba(#cecece, 1);
  background: linear-gradient(170deg, rgba(98, 209, 186, .8) 0%, rgba(103, 219, 196, .8) 16%, rgba(90, 191, 171, .8) 36%, rgba(98, 209, 186, .8) 63%, rgba(86, 184, 164, .8) 100%);
  text-shadow: -1px -1px rgba(#3e3e3e, .3);
  margin-bottom: 0;

  &:hover {
    filter: brightness(105%);
  }
  z-index: 800;
  &:hover {
    opacity: 1;
    box-shadow: inset 1px 1px 1px rgba(#ccc, .5), 1px 3px 9vwpx rgba(#cecece, .5);
  }
  &--active {
    right: 25px;
  }
}
