@import url(../assets/img/css/sprite.css);
html, body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

body {
  color: #444;
  font: 300 16px "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.btn {
  display: inline-block;
  text-decoration: none;
  height: 52px;
  border: 2px solid #444;
  font: 700 16px "Verdana", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  color: #444444;
  background-color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer; }
  .btn:focus, .btn:hover {
    text-decoration: none;
    color: #fff; }
  .btn:hover {
    background-color: #444444; }
  .btn:active {
    background-color: #444444;
    color: #8d8d8d; }
  .btn:disabled {
    opacity: .5; }

.inp {
  background-color: white;
  border: 2px solid #444;
  -webkit-box-shadow: inset 0 -2px 0 black;
          box-shadow: inset 0 -2px 0 black; }
  .inp:hover, .inp:active {
    border: 2px solid #62d1ba;
    -webkit-box-shadow: inset 0 -2px 0 black;
            box-shadow: inset 0 -2px 0 black; }

h1, h2, h3, h4, h4, h6 {
  color: #000;
  font: 700 16px "Verdana", Helvetica, sans-serif; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#object {
  height: 0;
  width: 0;
  position: absolute;
  left: 9999px; }

#header {
  position: relative; }
  #header::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #e7e7e7;
    bottom: 0;
    left: 0;
    right: 0; }

.header__inner {
  position: relative; }

.header__top {
  position: relative;
  background: #fff; }

.header__bot {
  position: absolute;
  min-height: 65px;
  width: 300px;
  right: 0;
  padding-top: 16px; }

.nav {
  margin: 0;
  padding: 0; }

.nav__item-logo-mobile {
  display: none; }

.nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  vertical-align: top; }
  .nav__item a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font: 700 16px "Verdana", Helvetica, sans-serif;
    color: #000;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: auto; }

.nav__item-logo a {
  padding: 0;
  line-height: 89px; }

.nav__item-logo-mobile img,
.nav__item-logo img {
  width: 86px; }
  .nav__item-logo-mobile img:hover,
  .nav__item-logo img:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5); }
  .nav__item-logo-mobile img:active,
  .nav__item-logo img:active {
    -webkit-filter: opacity(0.25);
            filter: opacity(0.25); }

@media (max-width: 767px) {
  .nav {
    position: relative; }
  .nav__item {
    position: relative; }
  .nav__item-logo-mobile::after,
  .nav__item::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #e7e7e7;
    bottom: 0;
    left: 0;
    right: 0; }
  .nav__item a {
    padding-top: 30px;
    padding-bottom: 30px; }
  .nav__item-logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .nav__item-logo a {
    padding: 0;
    line-height: 80px; }
  .nav__item-logo-mobile {
    display: block;
    line-height: 80px;
    text-align: center; }
    .nav__item-logo-mobile a {
      display: inline-block;
      height: 100%;
      width: 100%; }
  .header__bot {
    display: none; } }

@media (min-width: 768px) {
  .nav__item:first-child::after,
  .nav__item:last-child::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #e7e7e7;
    top: 0;
    bottom: 0; }
  .nav__item:first-child::after {
    right: 0; }
  .nav__item:last-child::after {
    left: 0; }
  .nav__item-logo img {
    width: 113px; }
  .header__bot-share {
    font-size: 14px;
    text-align: right; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .nav__item:nth-child(-n+2) {
    position: absolute;
    bottom: -65px;
    z-index: 1;
    width: 30%; }
    .nav__item:nth-child(-n+2) a {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 14px; }
  .nav__item:nth-child(1) {
    left: 0; }
  .nav__item:nth-child(2) {
    left: 30%; } }

@media (min-width: 1200px) {
  .nav__item-logo img {
    width: 149px; }
  .header__bot-share {
    text-align: center; } }

.s-hero {
  background: #f9f9f9 url("../assets/img/hero-desktop.jpg") 50% no-repeat; }

.hero {
  min-height: 300px;
  padding: 92px 30px 30px;
  font: 700 16px "Verdana", Helvetica, sans-serif;
  font-size: 24px;
  color: #000;
  text-align: center; }

@media (max-width: 767px) {
  .s-hero {
    background: #f9f9f9 url("../assets/img/hero-mobile.jpg") 50% no-repeat; } }

@media (min-width: 768px) {
  .hero {
    padding: 160px 90px 90px;
    min-height: 627px;
    font-size: 40px; } }

@media (min-width: 1200px) {
  .hero {
    padding: 160px 150px 150px;
    min-height: 627px;
    font-size: 50px; } }

.scroll-top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10em;
          border-radius: 10em;
  color: #666;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
  background-color: #eee;
  z-index: 22; }
  .scroll-top:hover {
    color: #fff;
    background-color: #ccc;
    opacity: 1; }
  .scroll-top--active {
    right: 25px; }

.hamburger:hover {
  opacity: .7; }

.hamburger,
.hamburger-close {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 75ms;
       -o-transition-duration: 75ms;
          transition-duration: 75ms; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #000; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.tray {
  position: relative;
  width: 50%;
  padding-top: 4.75em;
  padding-bottom: 3em;
  text-align: center;
  background-color: #2196f3; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner:before {
  -webkit-transition: top 75ms ease .12s, opacity 75ms ease;
  -o-transition: top 75ms ease .12s, opacity 75ms ease;
  transition: top 75ms ease .12s, opacity 75ms ease; }

.hamburger-inner:before {
  top: -10px; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #000; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner:after {
  -webkit-transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-inner:after {
  bottom: -10px; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #000; }

.hamburger-close,
.hamburger {
  position: absolute;
  right: 17px;
  bottom: 13px;
  z-index: 2;
  height: 55px; }
  .hamburger-close .hamburger-inner,
  .hamburger-close .hamburger-inner::before,
  .hamburger-close .hamburger-inner::after,
  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner::before,
  .hamburger .hamburger-inner::after {
    background: #000;
    color: #000; }

.hamburger {
  bottom: 13px; }

.hamburger-close {
  top: 13px; }

@media (min-width: 768px) {
  .hamburger,
  .hamburger-close {
    display: none; } }

.interior,
.toys {
  min-height: 136px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 30px; }
  .interior:hover,
  .toys:hover {
    margin-top: -10px;
    min-height: 146px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }

.interior {
  background: #63d1bb; }

.toys {
  background: #56c3b2; }

@media (min-width: 768px) {
  .interior,
  .toys {
    padding: 35px;
    position: relative; }
    .interior::after,
    .toys::after {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      right: 0;
      height: 17px;
      background: url("../assets/img/zigzag-fill-desktop.png") no-repeat; } }
