html, body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

body {
  position: relative;
  color: #444;
  font: 300 14px "Open Sans", Helvetica, sans-serif;
  font-size: 14px; }
  @media (min-width: 768px) {
    body {
      font-size: 15px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 16px; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

img {
  max-width: 100%;
  height: auto; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.btn,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  display: inline-block;
  text-decoration: none;
  height: 52px;
  font-size: 16px;
  font: 700 14px "Verdana", Helvetica, sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  color: #444;
  background-color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: 2px solid #444;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer;
  padding: 11px 15px; }
  .btn:hover, .btn:focus,
  a:not([href]):not([tabindex]):focus:hover,
  a:not([href]):not([tabindex]):focus:focus,
  a:not([href]):not([tabindex]):hover:hover,
  a:not([href]):not([tabindex]):hover:focus {
    text-decoration: none;
    color: #fff;
    background-color: #444444; }
  .btn:active,
  a:not([href]):not([tabindex]):focus:active,
  a:not([href]):not([tabindex]):hover:active {
    background-color: #444444;
    color: #8d8d8d; }
  .btn:disabled,
  a:not([href]):not([tabindex]):focus:disabled,
  a:not([href]):not([tabindex]):hover:disabled {
    opacity: .5; }

.title {
  text-align: left;
  margin-bottom: 45px; }

.inp {
  background-color: white;
  border: 2px solid #444;
  -webkit-box-shadow: inset 0 -2px 0 black;
          box-shadow: inset 0 -2px 0 black; }
  .inp:hover, .inp:active {
    border: 2px solid #62d1ba;
    -webkit-box-shadow: inset 0 -2px 0 black;
            box-shadow: inset 0 -2px 0 black; }

h1 {
  text-align: center; }

h1, h2 {
  font: 700 14px "Verdana", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #000; }

h1, h2, h3, h4, h4, h6 {
  color: #000;
  font: 700 14px "Verdana", Helvetica, sans-serif;
  font-size: 24px; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#object {
  height: 0;
  width: 0;
  position: absolute;
  left: 9999px; }

@media (max-width: 767px) {
  .container {
    max-width: 100%; }
  .btn,
  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    height: 42px;
    line-height: 20px;
    padding: 10px 15px; }
  h2 {
    text-align: left; } }

@media (min-width: 768px) {
  h1, h2 {
    font: 700 14px "Verdana", Helvetica, sans-serif;
    font-size: 40px;
    line-height: 56px;
    color: #000; } }

@media (min-width: 1200px) {
  h1, h2 {
    font: 700 14px "Verdana", Helvetica, sans-serif;
    font-size: 50px;
    line-height: 72px;
    color: #000; } }

.s-header__nav {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  position: relative; }

.header__top {
  position: relative;
  background: #fff; }

.header__bot {
  position: absolute;
  min-height: 64px;
  width: 300px;
  right: 0;
  padding-top: 17px; }

.nav {
  margin: 0;
  padding: 0; }

.nav__item-logo-mobile {
  display: none; }

.nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  vertical-align: top; }
  .nav__item a {
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font: 700 14px "Verdana", Helvetica, sans-serif;
    color: #000;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: auto; }
    .nav__item a:hover {
      opacity: .5;
      -webkit-transition: .25s;
      -o-transition: .25s;
      transition: .25s; }
    .nav__item a:active {
      opacity: .25; }

.nav__item-logo a {
  padding: 0;
  line-height: 89px; }

.nav__item-logo-mobile img,
.nav__item-logo img {
  width: 86px;
  -webkit-filter: contrast(200%) hue-rotate(180deg);
          filter: contrast(200%) hue-rotate(180deg); }
  .nav__item-logo-mobile img:hover,
  .nav__item-logo img:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }
  .nav__item-logo-mobile img:active,
  .nav__item-logo img:active {
    -webkit-filter: opacity(0.25);
            filter: opacity(0.25); }

@media (max-width: 767px) {
  .nav {
    position: relative; }
  .nav__item {
    position: relative; }
  .nav__item-logo-mobile::after,
  .nav__item::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #e7e7e7;
    bottom: 0;
    left: 0;
    right: 0; }
  .nav__item a {
    padding-top: 30px;
    padding-bottom: 30px; }
  .nav__item-logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .nav__item-logo a {
    padding: 0;
    line-height: 80px; }
  .nav__item-logo-mobile {
    display: block;
    line-height: 80px;
    text-align: center; }
    .nav__item-logo-mobile a {
      display: inline-block;
      height: 100%;
      width: 100%; }
  .header__bot {
    display: none; } }

@media (min-width: 768px) {
  #header {
    position: relative; }
    #header::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 22;
      height: 24px;
      background: url("/img/zigzag-fill-tab.png") 50% 0 repeat-x; }
  .nav__item:first-child::after,
  .nav__item:last-child::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #e7e7e7;
    top: 0;
    bottom: 0; }
  .nav__item:first-child::after {
    right: 0; }
  .nav__item:last-child::after {
    left: 0; }
  .nav__item-logo img {
    width: 113px; }
  .header__bot-share {
    font-size: 14px;
    text-align: right; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .nav__item:nth-child(-n+2) {
    position: absolute;
    bottom: -64px;
    z-index: 1;
    width: 30%; }
    .nav__item:nth-child(-n+2) a {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 14px; }
  .nav__item:nth-child(1) {
    left: 0; }
  .nav__item:nth-child(2) {
    left: 30%; } }

@media (min-width: 1200px) {
  #header::after {
    height: 34px;
    background: url("/img/zigzag-fill-desktop.png") 50% 0 repeat-x; }
  .nav__item-logo img {
    width: 149px; }
  .header__bot-share {
    text-align: center; } }

#footer {
  background: #f1f1f1; }
  #footer p {
    margin: 0; }

.footer__inner {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 143px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .footer__inner {
      padding-left: 35px;
      padding-right: 35px;
      max-width: 1150px; } }

.footer__logo {
  text-align: left; }
  .footer__logo-link {
    display: inline-block;
    width: 102px;
    height: 34px;
    background-image: url(../img/sprite.png);
    background-position: -47px -136px;
    width: 102px;
    height: 34px; }
    .footer__logo-link:hover {
      background-image: url(../img/sprite.png);
      background-position: -47px -102px;
      width: 102px;
      height: 34px;
      -webkit-transition: .25s;
      -o-transition: .25s;
      transition: .25s; }
    .footer__logo-link:active {
      opacity: .5; }

.footer__social {
  text-align: center;
  padding-bottom: 10px; }

.footer__copyright {
  text-align: right; }

.social-link {
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }
  .social-link:last-child {
    margin-right: 0; }
  .social-link-ins {
    background-image: url(../img/sprite.png);
    background-position: -72px -217px;
    width: 22px;
    height: 21px; }
    .social-link-ins:hover {
      background-image: url(../img/sprite.png);
      background-position: -50px -217px;
      width: 22px;
      height: 21px; }
  .social-link-fb {
    background-image: url(../img/sprite.png);
    background-position: 0px -241px;
    width: 15px;
    height: 29px; }
    .social-link-fb:hover {
      background-image: url(../img/sprite.png);
      background-position: -15px -241px;
      width: 15px;
      height: 29px; }
  .social-link-tw {
    background-image: url(../img/sprite.png);
    background-position: -91px -183px;
    width: 24px;
    height: 20px; }
    .social-link-tw:hover {
      background-image: url(../img/sprite.png);
      background-position: -115px -183px;
      width: 24px;
      height: 20px; }
  .social-link:active {
    opacity: .5; }

.footer__dev {
  font-weight: bold;
  text-align: right; }
  .footer__dev p {
    display: block; }
  .footer__dev p:first-child {
    padding-bottom: 10px; }
  .footer__dev a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #000;
    -webkit-text-decoration-color: #62D1BA;
            text-decoration-color: #62D1BA; }
    .footer__dev a:hover {
      text-decoration: underline;
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s; }
  .footer__dev span {
    line-height: 26px;
    margin-left: auto;
    margin-right: 10px; }

.footer__dev a:hover #github-logo,
.footer__dev a:hover #htmlacademy-logo {
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  opacity: .75; }

.footer__dev a:active #github-logo,
.footer__dev a:active #htmlacademy-logo {
  opacity: .5; }

#github-logo,
#htmlacademy-logo {
  width: 26px;
  fill: #62D1BA;
  stroke: #62D1BA;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }

#github-logo {
  height: 26px; }

#htmlacademy-logo {
  height: 30px; }

@media (max-width: 767px) {
  .footer__social,
  .footer__dev {
    padding-top: 20px;
    padding-bottom: 20px; }
  .footer__social {
    position: relative; }
    .footer__social:after {
      content: '';
      position: absolute;
      height: 1px;
      bottom: 0;
      left: -15px;
      right: -15px;
      background: #e5e5e5; }
  .footer__logo {
    display: none; }
  .footer__dev p {
    text-align: center; } }

.s-hero {
  background-color: #f9f9f9; }

#index-body .s-hero {
  background-image: url("../img/hero-desktop.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.hero {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding: 50px 30px 30px;
  font: 700 14px "Verdana", Helvetica, sans-serif; }
  @media (min-width: 768px) {
    .hero {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

#index-body .hero {
  min-height: 373px; }

#works-body .hero {
  padding-top: 50px;
  padding-bottom: 50px; }

@media (max-width: 767px) {
  #index-body .s-hero {
    background-image: url("../img/hero-mobile.jpg"); } }

@media (min-width: 768px) {
  .hero {
    padding: 100px 90px 90px;
    font-size: 40px; }
  #index-body .hero {
    min-height: 627px; }
  #works-body .hero {
    padding-top: 100px;
    padding-bottom: 80px; } }

@media (min-width: 1200px) {
  .hero {
    padding: 100px 150px 150px;
    font-size: 50px; }
  #index-body .hero {
    min-height: 746px; }
  #works-body .hero {
    padding-bottom: 90px; } }

.scroll-top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10em;
          border-radius: 10em;
  color: #666;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
  background-color: #eee;
  z-index: 22; }
  .scroll-top:hover {
    color: #fff;
    background-color: #ccc;
    opacity: 1; }
  .scroll-top--active {
    right: 25px; }

.hamburger:hover {
  opacity: .7; }

.hamburger,
.hamburger-close {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 75ms;
       -o-transition-duration: 75ms;
          transition-duration: 75ms; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #000; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.tray {
  position: relative;
  width: 50%;
  padding-top: 4.75em;
  padding-bottom: 3em;
  text-align: center;
  background-color: #2196f3; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner:before {
  -webkit-transition: top 75ms ease .12s, opacity 75ms ease;
  -o-transition: top 75ms ease .12s, opacity 75ms ease;
  transition: top 75ms ease .12s, opacity 75ms ease; }

.hamburger-inner:before {
  top: -10px; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #000; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--squeeze .hamburger-inner:after {
  -webkit-transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-inner:after {
  bottom: -10px; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #000; }

.hamburger-close,
.hamburger {
  position: absolute;
  right: 17px;
  bottom: 13px;
  z-index: 2;
  height: 55px; }
  .hamburger-close .hamburger-inner,
  .hamburger-close .hamburger-inner::before,
  .hamburger-close .hamburger-inner::after,
  .hamburger .hamburger-inner,
  .hamburger .hamburger-inner::before,
  .hamburger .hamburger-inner::after {
    background: #000;
    color: #000; }

.hamburger {
  bottom: 13px; }

.hamburger-close {
  top: 13px; }

@media (min-width: 768px) {
  .hamburger,
  .hamburger-close {
    display: none; } }

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon, .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
  background-image: none;
  width: 16px;
  height: 16px;
  background: #f9f;
  border-style: solid;
  border-color: azure;
  -webkit-box-shadow: inset 0 0 5px #000;
          box-shadow: inset 0 0 5px #000; }

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
  border: none;
  background: none; }

.ui-widget-content {
  border: none !important; }

.ui-tabs .ui-tabs-nav li {
  border-bottom: none; }

.ui-tabs .ui-tabs-nav li {
  border: none;
  background: none; }

.s-product {
  position: relative; }
  .s-product::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2; }
  .s-product::after {
    height: 17px;
    bottom: 0;
    background: url("/img/zigzag-line-mob.png") 50% 0 repeat-x; }

.product {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media (min-width: 768px) {
    .product {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }
  .product__list {
    background: none;
    border: none;
    outline: none; }

.product__header {
  font-size: 0; }

.interior,
.toys {
  border: none; }
  .interior:active p,
  .toys:active p {
    color: rgba(255, 255, 255, 0.5); }

.interior a,
.toys a {
  width: 100%;
  position: relative;
  height: 136px;
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
  padding: 30px !important;
  text-decoration: none; }
  .interior a:after,
  .toys a:after {
    content: '';
    position: absolute;
    top: 60px;
    right: 30px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .interior a p,
  .toys a p {
    text-shadow: -1px -1px rgba(62, 62, 62, 0.3); }

.interior a,
.toys a {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 1px #ccc;
          box-shadow: inset 1px 1px 1px #ccc;
  background: -webkit-linear-gradient(280deg, rgba(98, 209, 186, 0.8) 0%, rgba(103, 219, 196, 0.8) 16%, rgba(90, 191, 171, 0.8) 36%, rgba(98, 209, 186, 0.8) 63%, rgba(86, 184, 164, 0.8) 100%);
  background: -o-linear-gradient(280deg, rgba(98, 209, 186, 0.8) 0%, rgba(103, 219, 196, 0.8) 16%, rgba(90, 191, 171, 0.8) 36%, rgba(98, 209, 186, 0.8) 63%, rgba(86, 184, 164, 0.8) 100%);
  background: linear-gradient(170deg, rgba(98, 209, 186, 0.8) 0%, rgba(103, 219, 196, 0.8) 16%, rgba(90, 191, 171, 0.8) 36%, rgba(98, 209, 186, 0.8) 63%, rgba(86, 184, 164, 0.8) 100%); }
  .interior a:hover,
  .toys a:hover {
    -webkit-filter: brightness(110%);
            filter: brightness(110%);
    -webkit-filter: light(10%);
            filter: light(10%); }

.interior a:after {
  background-image: url(../img/sprite.png);
  background-position: -240px 0px;
  width: 41px;
  height: 62px; }

.toys a:after {
  background-image: url(../img/sprite.png);
  background-position: -120px -34px;
  width: 60px;
  height: 61px; }

.ui-tabs-active a {
  -webkit-filter: brightness(110%);
          filter: brightness(110%); }

.paremeter__row {
  border-bottom: 1px solid #eee; }
  .paremeter__row .paremeter__col {
    padding-top: 5px;
    padding-bottom: 5px; }
  .paremeter__row .paremeter__col:first-child {
    width: 90px; }

.product__desc {
  color: #444;
  font-size: 15px; }

.product__header {
  margin-bottom: 50px; }
  .product__header h2 {
    text-align: left; }

.product__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.product__intro {
  margin-bottom: 25px; }

.paremeters {
  width: 100%;
  margin-bottom: 25px; }

.product__header h2,
.product__promo {
  padding: 0;
  display: inline-block;
  vertical-align: middle; }

.product__promo {
  color: #63d1bb;
  font: 300 14px "Open Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px; }

.product__img {
  text-align: center; }
  .product__img picture {
    -webkit-transition: .05s;
    -o-transition: .05s;
    transition: .05s; }
  .product__img picture:hover {
    -webkit-filter: brightness(103%);
            filter: brightness(103%); }

.product__order {
  text-align: center; }

.product__price-wrap {
  display: block;
  margin-bottom: 25px;
  font-weight: bold;
  color: #444444; }

.product__price,
.product__value {
  width: 50%; }

.product__btn {
  width: 100%;
  line-height: 48px;
  padding: 0; }

@media (max-width: 767px) {
  .product__tab {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 45px !important; }
    .product__tab .product__header {
      margin-left: -10px;
      margin-right: -10px; }
    .product__tab h2 {
      margin-bottom: 0; }
  .product__list {
    margin-bottom: 20px !important;
    margin-left: -30px !important;
    margin-right: -30px !important; }
  .product__header {
    margin-bottom: 25px; }
  .product__promo br {
    display: none; }
  .product__img {
    margin-bottom: 20px; } }

@media (min-width: 768px) {
  .s-product::after {
    height: 23px;
    background: url("/img/zigzag-line-desktop.png") 50% 0 repeat-x; }
  .product__tab {
    padding-bottom: 70px !important; }
  .product__header {
    text-align: left; }
  .product__list.ui-tabs-nav {
    margin-bottom: 50px !important;
    margin-top: -8px; }
  .interior,
  .toys {
    margin: 0 !important;
    position: relative; }
    .interior:hover a,
    .toys:hover a {
      position: absolute;
      top: -10px;
      min-height: 146px;
      margin-top: -146px;
      -webkit-transition: margin-top .3s ease;
      -o-transition: margin-top .3s ease;
      transition: margin-top .3s ease; }
  .interior a,
  .toys a {
    margin-top: -144px;
    padding: 35px; }
  .product__promo {
    margin-left: auto; }
  .product__intro {
    margin-bottom: 50px; }
  .paremeters {
    margin-bottom: 155px; }
  .product__order {
    margin-top: -103px; }
  .product__price-wrap {
    font-size: 18px;
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .product__img {
    padding-top: 10px; } }

@media (min-width: 1200px) {
  .product__tab {
    padding-bottom: 90px !important; }
  .product__list {
    padding-top: 0;
    margin-bottom: 70px !important; }
  .product__header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1; }
  .product__header h2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .product__intro {
    margin-bottom: 60px; }
  .paremeters {
    margin-bottom: 142px; }
  .product__promo {
    margin-right: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .product__img {
    padding: 0;
    margin-top: -150px; } }

#galpop-close {
  border: 4px solid #D6D6D6;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  #galpop-close::after {
    content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    color: red;
    font-size: 20px; }

.about {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .about {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

.about__item {
  position: relative;
  font: 700 14px "Verdana", Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 50px;
  margin-bottom: 30px; }

.about__item span {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px; }
  .about__item span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .about__item span.icon-eco::before {
    background-image: url(../img/sprite.png);
    background-position: -240px -62px;
    width: 33px;
    height: 38px; }
  .about__item span.icon-love::before {
    background-image: url(../img/sprite.png);
    background-position: -240px -100px;
    width: 35px;
    height: 34px; }
  .about__item span.icon-style::before {
    background-image: url(../img/sprite.png);
    background-position: -149px -102px;
    width: 47px;
    height: 27px; }
  .about__item span.icon-support::before {
    background-image: url(../img/sprite.png);
    background-position: -149px -136px;
    width: 55px;
    height: 23px; }
  .about__item span.icon-like::before {
    background-image: url(../img/sprite.png);
    background-position: -196px -102px;
    width: 34px;
    height: 27px; }
  .about__item span.icon-gift::before {
    background-image: url(../img/sprite.png);
    background-position: -240px -134px;
    width: 33px;
    height: 32px; }

@media (max-width: 767px) {
  .about {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px; } }
  @media (max-width: 767px) and (min-width: 768px) {
    .about {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

@media (max-width: 767px) {
  .about__title {
    margin-bottom: 40px; }
  .about__title,
  .about__item {
    padding-left: 0;
    padding-right: 0; }
  .about__item {
    padding-top: 60px;
    margin-bottom: 20px;
    font-size: 16px; } }

@media (min-width: 768px) {
  .about__title {
    padding-left: 0;
    padding-right: 0; }
  .about__item {
    padding-right: 50px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .about__title h2 {
    padding-left: 15px;
    padding-right: 15px; } }

.bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: -120px;
  border: none; }
  .bx-wrapper .bx-pager.bx-default-pager a {
    height: 14px;
    width: 14px;
    background: rgba(98, 209, 186, 0.5);
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a:focus:hover {
      background: #62d1ba; }
    .bx-wrapper .bx-pager.bx-default-pager a:focus {
      background: rgba(98, 209, 186, 0.5); }
    .bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link.active {
      background: rgba(98, 209, 186, 0.5);
      -webkit-box-shadow: 0 0 0 3px #62d1ba;
              box-shadow: 0 0 0 3px #62d1ba; }

.reviews__container {
  padding-top: 80px;
  position: relative; }
  .reviews__container::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 17px;
    background: url("/img/zigzag-line-mob.png") 50% 0 repeat-x;
    z-index: 2; }

.reviews {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .reviews {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

.reviews__title {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0; }

.reviews__title,
.reviews__btn {
  z-index: 2; }

.bx-wrapper,
.bx-viewport {
  max-width: 100% !important;
  width: 100% !important; }

.bx-viewport {
  border: none; }

.reviews__item {
  width: auto !important;
  height: 384px;
  padding-top: 180px;
  padding-bottom: 100px; }
  .reviews__item:hover p {
    overflow: visible; }

.reviews__auth {
  position: absolute;
  left: 0;
  bottom: 100px;
  font-weight: bold; }

.reviews__more {
  position: relative; }
  .reviews__more::after {
    content: '->>';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f9f; }

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  height: 50px !important;
  width: 70px !important; }
  .bx-wrapper .bx-prev:hover,
  .bx-wrapper .bx-next:hover {
    -webkit-filter: opacity(0.75);
            filter: opacity(0.75); }
  .bx-wrapper .bx-prev:active,
  .bx-wrapper .bx-next:active {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5); }

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  width: 70px;
  position: absolute; }

.bx-wrapper .bx-prev {
  background: url("../img/icons/huge-arrow-left.png") 50% no-repeat; }
  .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    background: url("../img/icons/huge-arrow-left.png") 50% no-repeat; }

.bx-wrapper .bx-next {
  background: url("../img/icons/huge-arrow-right.png") 50% no-repeat; }
  .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background: url("../img/icons/huge-arrow-right.png") 50% no-repeat; }

.bx-wrapper .bx-controls-direction a.bx-prev {
  right: 106px;
  left: auto; }

.bx-wrapper .bx-controls-direction a.bx-next {
  right: 20px;
  left: auto; }

@media (max-width: 767px) {
  .reviews__container {
    padding-top: 20px; }
  .bx-wrapper {
    margin-top: 0; }
  .bx-viewport {
    position: relative; }
    .bx-viewport::before {
      bottom: 12px;
      content: '';
      position: absolute;
      bottom: 12px;
      left: 50%;
      height: 50px;
      width: 1px;
      background: #ececec; }
  .reviews__item {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
    padding-top: 30px;
    font-size: 14px;
    line-height: 20px; }
  .bx-wrapper .bx-prev,
  .bx-wrapper .bx-next {
    width: 50% !important; }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: auto;
    bottom: 12px; }
    .bx-wrapper .bx-controls-direction a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      border: 1px solid #ececec; }
    .bx-wrapper .bx-controls-direction a.bx-prev {
      left: 0; }
      .bx-wrapper .bx-controls-direction a.bx-prev::before {
        border-right: none; }
    .bx-wrapper .bx-controls-direction a.bx-next {
      right: 0; }
      .bx-wrapper .bx-controls-direction a.bx-next::before {
        border-left: none; }
  .reviews__btn {
    display: block; } }

@media (min-width: 768px) {
  .bx-wrapper {
    min-height: 457px; }
    .bx-wrapper .bx-pager {
      bottom: 0; }
  .reviews__auth {
    left: 50px;
    bottom: 80px; }
  .bx-wrapper .bx-controls-direction a {
    top: auto;
    bottom: 135px; }
  .reviews__container::after {
    height: 23px;
    background: url("/img/zigzag-line-desktop.png") 50% 0 repeat-x; }
  .bx-viewport {
    background: url("../img/review.jpg") 0 100% no-repeat; }
  .reviews__btn {
    margin-right: 15px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .reviews {
    padding-left: 0;
    padding-right: 0; }
    .reviews__item {
      padding-left: 50px;
      padding-right: 50px; }
  .reviews__title {
    margin-left: 50px; }
  .reviews__btn {
    margin-right: 50px; }
  .bx-wrapper .bx-controls-direction a.bx-prev {
    right: 152px;
    left: auto; }
  .bx-wrapper .bx-controls-direction a.bx-next {
    right: 66px;
    left: auto; } }

@media (min-width: 1200px) {
  .reviews__auth {
    left: 15px; } }

.contacts {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  padding-top: 40px;
  padding-bottom: 30px; }

.contacts__info,
.contacts__map {
  padding-left: 0;
  padding-right: 0; }

.contacts__info {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: relative; }
  @media (min-width: 768px) {
    .contacts__info {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

.contacts__map {
  height: 457px;
  max-width: 100%; }

#map {
  height: 100%; }

.contacts__btn {
  margin-top: 30px; }

@media (max-width: 767px) {
  .contacts__info {
    margin-bottom: 25px; }
  .contacts__mail {
    margin-bottom: 10px; }
  .contacts__btn {
    margin-left: 30px;
    margin-right: 30px; } }

@media (min-width: 768px) {
  .contacts {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .contacts {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

@media (min-width: 768px) {
  .contacts__info {
    margin-bottom: 55px;
    position: relative;
    padding-left: 0;
    padding-right: 0; }
    .contacts__info::before {
      content: '';
      position: absolute;
      right: 0;
      background-image: url(../img/sprite.png);
      background-position: 0px -102px;
      width: 47px;
      height: 81px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .contacts__btn {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1200px) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 100px; }
  .contacts__info::before {
    left: -80px; }
  .contacts__btn {
    margin-top: -52px; } }

.mymodal {
  display: none;
  position: fixed;
  max-width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  -webkit-box-shadow: 3px 1px 15px rgba(204, 204, 204, 0.5);
          box-shadow: 3px 1px 15px rgba(204, 204, 204, 0.5);
  border: 3px double rgba(255, 153, 255, 0.35);
  z-index: 9999; }
  .mymodal .mymodal__inner {
    width: auto; }

#modal-overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  background: rgba(255, 153, 255, 0.15); }

.preloader {
  display: none; }

.btn-wrap .btn {
  margin-left: auto;
  margin-right: auto; }

.buy-modal {
  width: 100%;
  max-width: 380px;
  text-align: center; }
  .buy-modal .buy-btn {
    margin-top: 30px;
    display: block;
    width: 100%; }
  .buy-modal p {
    margin: 0; }

.call-us {
  display: inline-block;
  margin-bottom: 15px; }

.buy-modal__phone {
  position: relative;
  padding-left: 65px;
  text-align: left; }
  .buy-modal__phone::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: url("/img/call-now-small.gif") no-repeat; }

.reviews-status,
.contacts-status {
  display: none;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 1px 1px 0 #2e2e2e;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem; }

.reviews__name,
.reviews__email,
.reviews__msg,
.contacts__name,
.contacts__email,
.contacts__msg {
  margin-bottom: 10px; }

.reviews__email,
.contacts__email {
  margin-left: auto; }

.contacts__msg,
.reviews__msg {
  margin-bottom: 20px; }

.contacts__msg,
.reviews__msg {
  margin-bottom: 20px; }

.btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .btn-wrap .reviews-btn__close {
    margin-left: auto; }

.reviews-status--error,
.contacts-status--error {
  background-color: rgba(255, 138, 212, 0.5);
  border-color: rgba(255, 138, 212, 0.75);
  color: #FF8AD4; }

.reviews-status--success,
.contacts-status--success {
  background-color: rgba(98, 209, 186, 0.5);
  border-color: rgba(98, 209, 186, 0.75);
  color: #62D1BA; }

.btn-wrap .btn {
  width: 100%; }

@media (max-width: 767px) {
  .mymodal {
    padding: 15px 30px; }
  .reviews-btn__close,
  .contacts-btn__close {
    margin-top: 10px; }
  .buy-modal {
    width: 100%; }
  .call-us {
    display: inline-block;
    margin-bottom: 10px; }
  .buy-modal__phone {
    position: relative;
    padding-top: 60px;
    padding-left: 0;
    text-align: center; }
    .buy-modal__phone::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 50px;
      height: 50px;
      background: url("/img/call-now-small.gif") no-repeat; }
  .buy-btn.btn {
    margin-top: 15px; } }

@media (min-width: 768px) {
  .reviews__name,
  .reviews__email,
  .reviews__msg,
  .contacts__name,
  .contacts__email,
  .contacts__msg {
    margin-bottom: 15px; } }

.reviews-preloader,
.contacts-preloader {
  display: block;
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px; }
  .reviews-preloader span,
  .contacts-preloader span {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%; }
    .reviews-preloader span:nth-child(1),
    .contacts-preloader span:nth-child(1) {
      top: 0;
      left: 0;
      background-color: rgba(66, 133, 244, 0.75);
      -webkit-animation: move1 1s linear infinite;
              animation: move1 1s linear infinite; }
    .reviews-preloader span:nth-child(2),
    .contacts-preloader span:nth-child(2) {
      top: 0;
      right: 0;
      background-color: rgba(219, 68, 55, 0.75);
      -webkit-animation: move2 1s linear infinite;
              animation: move2 1s linear infinite; }
    .reviews-preloader span:nth-child(3),
    .contacts-preloader span:nth-child(3) {
      bottom: 0;
      left: 0;
      background-color: rgba(244, 180, 0, 0.75);
      -webkit-animation: move3 1s linear infinite;
              animation: move3 1s linear infinite; }
    .reviews-preloader span:nth-child(4),
    .contacts-preloader span:nth-child(4) {
      bottom: 0;
      right: 0;
      background-color: rgba(15, 157, 88, 0.75);
      -webkit-animation: move4 1s linear infinite;
              animation: move4 1s linear infinite; }

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 10; }
  25% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0); }
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%); }
  75% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    z-index: 0; }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes move1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 10; }
  25% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0); }
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%); }
  75% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    z-index: 0; }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  25% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%); }
  50% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
    z-index: 0; }
  75% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 10; }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes move2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  25% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%); }
  50% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
    z-index: 0; }
  75% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 10; }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes move3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  25% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    z-index: 10; }
  50% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%); }
  75% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 0; } }

@keyframes move3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  25% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    z-index: 10; }
  50% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%); }
  75% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: 0; } }

@-webkit-keyframes move4 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  25% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 0; }
  50% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    z-index: 10; }
  75% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes move4 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  25% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: 0; }
  50% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    z-index: 10; }
  75% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media (min-width: 768px) {
    .catalog {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 1150px; } }

.card-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 0 9px rgba(204, 204, 204, 0.3);
          box-shadow: 2px 0 9px rgba(204, 204, 204, 0.3); }
  .card-item:hover {
    -webkit-box-shadow: 2px 0 18px rgba(204, 204, 204, 0.7);
            box-shadow: 2px 0 18px rgba(204, 204, 204, 0.7);
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }

.card-item__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 30px;
  border: 1px solid #ececec; }

.card-item__desk {
  position: relative;
  padding: 25px 0; }
  .card-item__desk::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ececec; }

.card-item__name,
.card-item__price {
  font: 700 14px "Verdana", Helvetica, sans-serif; }

.card-item__price {
  position: relative;
  padding: 25px 0; }

.icon-phone {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("/img/icons/phone.png") 50% no-repeat; }
  .icon-phone:hover {
    background: url("/img/icons/phone-hv.png") 50% no-repeat;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }

.card-item__img {
  text-align: center;
  background-color: #bcbdbf; }

@media (max-width: 767px) {
  .icon-phone {
    background-position-x: 100%; }
    .icon-phone:hover {
      background-position-x: 100%; } }

@media (min-width: 768px) {
  .card-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .card-item__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .card-item__price {
    margin-top: auto; } }

@media (min-width: 1200px) {
  .catalog {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .card-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    margin-right: 5%; }
    .card-item:nth-child(3n) {
      margin-right: 0; } }
