html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body {
  position: relative;
  color: #444;
  font: $ff;
  @include f16();
}

* {
  box-sizing: border-box;
  //flex-shrink: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  display: inline-block;
  text-decoration: none;
  //min-height: 52px;
  @include f17();
  font: $ff2;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  color: #444;
  background-color: #fff;
  border-radius: 0;
  border: 2px solid #444;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
  padding: 11px 15px;
  max-width: 400px;
  white-space: normal;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: #444444;
  }
  &:active {
    background-color: #444444;
    color: #8d8d8d;
  }
  &:disabled {
    opacity: .5;
  }
}

.title {
  text-align: left;
  margin-bottom: 45px;
}

.inp {
  background-color: white;
  border: 2px solid #444;
  box-shadow: inset 0 -2px 0 black;
  &:hover,
  &:active {
    border: 2px solid #62d1ba;
    box-shadow: inset 0 -2px 0 black;
  }
}

h1 {
  text-align: center;
}

h1, h2 {
  font: $ff2;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

h1, h2, h3, h4, h4, h6 {
  color: #000;
  font: $ff2;
  font-size: 24px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#object {
  height: 0;
  width: 0;
  position: absolute;
  left: 9999px;
}

// mobile only start
@media (max-width: 767px) {

  .container {
    max-width: 100%;
  }

  .btn,
  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    //min-height: 42px;
    line-height: 20px;
    padding: 9px 13px;
  }

  h2 {
    text-align: left;
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {
  h1, h2 {
    font: $ff2;
    font-size: 40px;
    line-height: 56px;
    color: #000;
  }
  // tablet end
}

// desktop start
@media (min-width: 1200px) {
  h1, h2 {
    font: $ff2;
    font-size: 50px;
    line-height: 72px;
    color: #000;
  }

  // desktop end
}

