@mixin cf() {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  // tablet start
  @media (min-width: 768px) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1150px;
  }
  // tablet end
}

// @include cf();

// минус row padding
@mixin bcf() {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  // tablet start
  @media (min-width: 768px) {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1150px;
  }
  // tablet end
}

// @include bcf();

@mixin mw() {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
}

// @include mw();

@mixin c() {

}

@mixin f15() {
  font-size: 15px;

  // mobile only start
  @media (max-width: 767px) {

    font-size: 13px;

    // mobile only end
  }

  // tablet only start
  @media (min-width: 768px) and (max-width: 1199px) {

    font-size: 14px;

    // tablet only end
  }
}

@mixin f16() {
  font-size: 16px;

  // mobile only start
  @media (max-width: 767px) {

    font-size: 14px;

    // mobile only end
  }

  // tablet only start
  @media (min-width: 768px) and (max-width: 1199px) {

    font-size: 15px;

    // tablet only end
  }
}

@mixin f17() {
  font-size: 17px;

  // mobile only start
  @media (max-width: 767px) {

    font-size: 15px;

    // mobile only end
  }

  // tablet only start
  @media (min-width: 768px) and (max-width: 1199px) {

    font-size: 16px;

    // tablet only end
  }
}

@mixin f18() {
  font-size: 18px;

  // mobile only start
  @media (max-width: 767px) {

    font-size: 16px;

    // mobile only end
  }

  // tablet only start
  @media (min-width: 768px) and (max-width: 1199px) {

    font-size: 17px;

    // tablet only end
  }
}

@mixin hv() {
  filter: brightness(105%);
}

@mixin act() {
  opacity: .7;
}

@mixin hv2() {
  filter: lighten(10%);
}

@mixin act2() {
  filter: darken(10%);
}
