$grid-gutter-width: 0px !default;
  .no-gutter > [class^="col-"],
  .no-gutter > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.row.no-gutter,
.container.no-gutter,
.container-fluid.no-gutter {
  margin-left: 0;
  margin-right: 0;
}