// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cart-name: 'cart';
$cart-x: 268px;
$cart-y: 222px;
$cart-offset-x: -268px;
$cart-offset-y: -222px;
$cart-width: 21px;
$cart-height: 18px;
$cart-total-width: 295px;
$cart-total-height: 245px;
$cart-image: '../img/sprite.png';
$cart: (268px, 222px, -268px, -222px, 21px, 18px, 295px, 245px, '../img/sprite.png', 'cart', );
$fb-hv-name: 'fb-hv';
$fb-hv-x: 268px;
$fb-hv-y: 193px;
$fb-hv-offset-x: -268px;
$fb-hv-offset-y: -193px;
$fb-hv-width: 15px;
$fb-hv-height: 29px;
$fb-hv-total-width: 295px;
$fb-hv-total-height: 245px;
$fb-hv-image: '../img/sprite.png';
$fb-hv: (268px, 193px, -268px, -193px, 15px, 29px, 295px, 245px, '../img/sprite.png', 'fb-hv', );
$fb-name: 'fb';
$fb-x: 268px;
$fb-y: 164px;
$fb-offset-x: -268px;
$fb-offset-y: -164px;
$fb-width: 15px;
$fb-height: 29px;
$fb-total-width: 295px;
$fb-total-height: 245px;
$fb-image: '../img/sprite.png';
$fb: (268px, 164px, -268px, -164px, 15px, 29px, 295px, 245px, '../img/sprite.png', 'fb', );
$flag-name: 'flag';
$flag-x: 221px;
$flag-y: 0px;
$flag-offset-x: -221px;
$flag-offset-y: 0px;
$flag-width: 47px;
$flag-height: 81px;
$flag-total-width: 295px;
$flag-total-height: 245px;
$flag-image: '../img/sprite.png';
$flag: (221px, 0px, -221px, 0px, 47px, 81px, 295px, 245px, '../img/sprite.png', 'flag', );
$htmlacademy-name: 'htmlacademy';
$htmlacademy-x: 268px;
$htmlacademy-y: 0px;
$htmlacademy-offset-x: -268px;
$htmlacademy-offset-y: 0px;
$htmlacademy-width: 27px;
$htmlacademy-height: 34px;
$htmlacademy-total-width: 295px;
$htmlacademy-total-height: 245px;
$htmlacademy-image: '../img/sprite.png';
$htmlacademy: (268px, 0px, -268px, 0px, 27px, 34px, 295px, 245px, '../img/sprite.png', 'htmlacademy', );
$huge-arrow-left-name: 'huge-arrow-left';
$huge-arrow-left-x: 170px;
$huge-arrow-left-y: 78px;
$huge-arrow-left-offset-x: -170px;
$huge-arrow-left-offset-y: -78px;
$huge-arrow-left-width: 50px;
$huge-arrow-left-height: 26px;
$huge-arrow-left-total-width: 295px;
$huge-arrow-left-total-height: 245px;
$huge-arrow-left-image: '../img/sprite.png';
$huge-arrow-left: (170px, 78px, -170px, -78px, 50px, 26px, 295px, 245px, '../img/sprite.png', 'huge-arrow-left', );
$huge-arrow-right-name: 'huge-arrow-right';
$huge-arrow-right-x: 120px;
$huge-arrow-right-y: 78px;
$huge-arrow-right-offset-x: -120px;
$huge-arrow-right-offset-y: -78px;
$huge-arrow-right-width: 50px;
$huge-arrow-right-height: 26px;
$huge-arrow-right-total-width: 295px;
$huge-arrow-right-total-height: 245px;
$huge-arrow-right-image: '../img/sprite.png';
$huge-arrow-right: (120px, 78px, -120px, -78px, 50px, 26px, 295px, 245px, '../img/sprite.png', 'huge-arrow-right', );
$icon-1-name: 'icon-1';
$icon-1-x: 0px;
$icon-1-y: 207px;
$icon-1-offset-x: 0px;
$icon-1-offset-y: -207px;
$icon-1-width: 33px;
$icon-1-height: 38px;
$icon-1-total-width: 295px;
$icon-1-total-height: 245px;
$icon-1-image: '../img/sprite.png';
$icon-1: (0px, 207px, 0px, -207px, 33px, 38px, 295px, 245px, '../img/sprite.png', 'icon-1', );
$icon-2-name: 'icon-2';
$icon-2-x: 33px;
$icon-2-y: 207px;
$icon-2-offset-x: -33px;
$icon-2-offset-y: -207px;
$icon-2-width: 35px;
$icon-2-height: 34px;
$icon-2-total-width: 295px;
$icon-2-total-height: 245px;
$icon-2-image: '../img/sprite.png';
$icon-2: (33px, 207px, -33px, -207px, 35px, 34px, 295px, 245px, '../img/sprite.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 120px;
$icon-3-y: 112px;
$icon-3-offset-x: -120px;
$icon-3-offset-y: -112px;
$icon-3-width: 47px;
$icon-3-height: 27px;
$icon-3-total-width: 295px;
$icon-3-total-height: 245px;
$icon-3-image: '../img/sprite.png';
$icon-3: (120px, 112px, -120px, -112px, 47px, 27px, 295px, 245px, '../img/sprite.png', 'icon-3', );
$icon-4-name: 'icon-4';
$icon-4-x: 60px;
$icon-4-y: 180px;
$icon-4-offset-x: -60px;
$icon-4-offset-y: -180px;
$icon-4-width: 55px;
$icon-4-height: 23px;
$icon-4-total-width: 295px;
$icon-4-total-height: 245px;
$icon-4-image: '../img/sprite.png';
$icon-4: (60px, 180px, -60px, -180px, 55px, 23px, 295px, 245px, '../img/sprite.png', 'icon-4', );
$icon-5-name: 'icon-5';
$icon-5-x: 167px;
$icon-5-y: 112px;
$icon-5-offset-x: -167px;
$icon-5-offset-y: -112px;
$icon-5-width: 34px;
$icon-5-height: 27px;
$icon-5-total-width: 295px;
$icon-5-total-height: 245px;
$icon-5-image: '../img/sprite.png';
$icon-5: (167px, 112px, -167px, -112px, 34px, 27px, 295px, 245px, '../img/sprite.png', 'icon-5', );
$icon-6-name: 'icon-6';
$icon-6-x: 68px;
$icon-6-y: 207px;
$icon-6-offset-x: -68px;
$icon-6-offset-y: -207px;
$icon-6-width: 33px;
$icon-6-height: 32px;
$icon-6-total-width: 295px;
$icon-6-total-height: 245px;
$icon-6-image: '../img/sprite.png';
$icon-6: (68px, 207px, -68px, -207px, 33px, 32px, 295px, 245px, '../img/sprite.png', 'icon-6', );
$ins-hv-name: 'ins-hv';
$ins-hv-x: 268px;
$ins-hv-y: 122px;
$ins-hv-offset-x: -268px;
$ins-hv-offset-y: -122px;
$ins-hv-width: 22px;
$ins-hv-height: 21px;
$ins-hv-total-width: 295px;
$ins-hv-total-height: 245px;
$ins-hv-image: '../img/sprite.png';
$ins-hv: (268px, 122px, -268px, -122px, 22px, 21px, 295px, 245px, '../img/sprite.png', 'ins-hv', );
$ins-name: 'ins';
$ins-x: 268px;
$ins-y: 143px;
$ins-offset-x: -268px;
$ins-offset-y: -143px;
$ins-width: 22px;
$ins-height: 21px;
$ins-total-width: 295px;
$ins-total-height: 245px;
$ins-image: '../img/sprite.png';
$ins: (268px, 143px, -268px, -143px, 22px, 21px, 295px, 245px, '../img/sprite.png', 'ins', );
$interior-name: 'interior';
$interior-x: 221px;
$interior-y: 81px;
$interior-offset-x: -221px;
$interior-offset-y: -81px;
$interior-width: 41px;
$interior-height: 62px;
$interior-total-width: 295px;
$interior-total-height: 245px;
$interior-image: '../img/sprite.png';
$interior: (221px, 81px, -221px, -81px, 41px, 62px, 295px, 245px, '../img/sprite.png', 'interior', );
$logo-footer-hv-name: 'logo-footer-hv';
$logo-footer-hv-x: 60px;
$logo-footer-hv-y: 146px;
$logo-footer-hv-offset-x: -60px;
$logo-footer-hv-offset-y: -146px;
$logo-footer-hv-width: 102px;
$logo-footer-hv-height: 34px;
$logo-footer-hv-total-width: 295px;
$logo-footer-hv-total-height: 245px;
$logo-footer-hv-image: '../img/sprite.png';
$logo-footer-hv: (60px, 146px, -60px, -146px, 102px, 34px, 295px, 245px, '../img/sprite.png', 'logo-footer-hv', );
$logo-footer-hv2-name: 'logo-footer-hv2';
$logo-footer-hv2-x: 101px;
$logo-footer-hv2-y: 34px;
$logo-footer-hv2-offset-x: -101px;
$logo-footer-hv2-offset-y: -34px;
$logo-footer-hv2-width: 120px;
$logo-footer-hv2-height: 34px;
$logo-footer-hv2-total-width: 295px;
$logo-footer-hv2-total-height: 245px;
$logo-footer-hv2-image: '../img/sprite.png';
$logo-footer-hv2: (101px, 34px, -101px, -34px, 120px, 34px, 295px, 245px, '../img/sprite.png', 'logo-footer-hv2', );
$logo-footer-hv3-name: 'logo-footer-hv3';
$logo-footer-hv3-x: 101px;
$logo-footer-hv3-y: 0px;
$logo-footer-hv3-offset-x: -101px;
$logo-footer-hv3-offset-y: 0px;
$logo-footer-hv3-width: 120px;
$logo-footer-hv3-height: 34px;
$logo-footer-hv3-total-width: 295px;
$logo-footer-hv3-total-height: 245px;
$logo-footer-hv3-image: '../img/sprite.png';
$logo-footer-hv3: (101px, 0px, -101px, 0px, 120px, 34px, 295px, 245px, '../img/sprite.png', 'logo-footer-hv3', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 162px;
$logo-footer-y: 146px;
$logo-footer-offset-x: -162px;
$logo-footer-offset-y: -146px;
$logo-footer-width: 102px;
$logo-footer-height: 34px;
$logo-footer-total-width: 295px;
$logo-footer-total-height: 245px;
$logo-footer-image: '../img/sprite.png';
$logo-footer: (162px, 146px, -162px, -146px, 102px, 34px, 295px, 245px, '../img/sprite.png', 'logo-footer', );
$logo-footer2-name: 'logo-footer2';
$logo-footer2-x: 0px;
$logo-footer2-y: 78px;
$logo-footer2-offset-x: 0px;
$logo-footer2-offset-y: -78px;
$logo-footer2-width: 120px;
$logo-footer2-height: 34px;
$logo-footer2-total-width: 295px;
$logo-footer2-total-height: 245px;
$logo-footer2-image: '../img/sprite.png';
$logo-footer2: (0px, 78px, 0px, -78px, 120px, 34px, 295px, 245px, '../img/sprite.png', 'logo-footer2', );
$logo-footer3-name: 'logo-footer3';
$logo-footer3-x: 0px;
$logo-footer3-y: 112px;
$logo-footer3-offset-x: 0px;
$logo-footer3-offset-y: -112px;
$logo-footer3-width: 120px;
$logo-footer3-height: 34px;
$logo-footer3-total-width: 295px;
$logo-footer3-total-height: 245px;
$logo-footer3-image: '../img/sprite.png';
$logo-footer3: (0px, 112px, 0px, -112px, 120px, 34px, 295px, 245px, '../img/sprite.png', 'logo-footer3', );
$mail-hv-name: 'mail-hv';
$mail-hv-x: 147px;
$mail-hv-y: 180px;
$mail-hv-offset-x: -147px;
$mail-hv-offset-y: -180px;
$mail-hv-width: 32px;
$mail-hv-height: 21px;
$mail-hv-total-width: 295px;
$mail-hv-total-height: 245px;
$mail-hv-image: '../img/sprite.png';
$mail-hv: (147px, 180px, -147px, -180px, 32px, 21px, 295px, 245px, '../img/sprite.png', 'mail-hv', );
$mail-name: 'mail';
$mail-x: 179px;
$mail-y: 180px;
$mail-offset-x: -179px;
$mail-offset-y: -180px;
$mail-width: 32px;
$mail-height: 21px;
$mail-total-width: 295px;
$mail-total-height: 245px;
$mail-image: '../img/sprite.png';
$mail: (179px, 180px, -179px, -180px, 32px, 21px, 295px, 245px, '../img/sprite.png', 'mail', );
$phone-hv-name: 'phone-hv';
$phone-hv-x: 268px;
$phone-hv-y: 34px;
$phone-hv-offset-x: -268px;
$phone-hv-offset-y: -34px;
$phone-hv-width: 25px;
$phone-hv-height: 24px;
$phone-hv-total-width: 295px;
$phone-hv-total-height: 245px;
$phone-hv-image: '../img/sprite.png';
$phone-hv: (268px, 34px, -268px, -34px, 25px, 24px, 295px, 245px, '../img/sprite.png', 'phone-hv', );
$phone-name: 'phone';
$phone-x: 268px;
$phone-y: 58px;
$phone-offset-x: -268px;
$phone-offset-y: -58px;
$phone-width: 25px;
$phone-height: 24px;
$phone-total-width: 295px;
$phone-total-height: 245px;
$phone-image: '../img/sprite.png';
$phone: (268px, 58px, -268px, -58px, 25px, 24px, 295px, 245px, '../img/sprite.png', 'phone', );
$play-name: 'play';
$play-x: 0px;
$play-y: 0px;
$play-offset-x: 0px;
$play-offset-y: 0px;
$play-width: 101px;
$play-height: 78px;
$play-total-width: 295px;
$play-total-height: 245px;
$play-image: '../img/sprite.png';
$play: (0px, 0px, 0px, 0px, 101px, 78px, 295px, 245px, '../img/sprite.png', 'play', );
$search-name: 'search';
$search-x: 201px;
$search-y: 112px;
$search-offset-x: -201px;
$search-offset-y: -112px;
$search-width: 18px;
$search-height: 19px;
$search-total-width: 295px;
$search-total-height: 245px;
$search-image: '../img/sprite.png';
$search: (201px, 112px, -201px, -112px, 18px, 19px, 295px, 245px, '../img/sprite.png', 'search', );
$toy-name: 'toy';
$toy-x: 0px;
$toy-y: 146px;
$toy-offset-x: 0px;
$toy-offset-y: -146px;
$toy-width: 60px;
$toy-height: 61px;
$toy-total-width: 295px;
$toy-total-height: 245px;
$toy-image: '../img/sprite.png';
$toy: (0px, 146px, 0px, -146px, 60px, 61px, 295px, 245px, '../img/sprite.png', 'toy', );
$tw-hv-name: 'tw-hv';
$tw-hv-x: 268px;
$tw-hv-y: 102px;
$tw-hv-offset-x: -268px;
$tw-hv-offset-y: -102px;
$tw-hv-width: 24px;
$tw-hv-height: 20px;
$tw-hv-total-width: 295px;
$tw-hv-total-height: 245px;
$tw-hv-image: '../img/sprite.png';
$tw-hv: (268px, 102px, -268px, -102px, 24px, 20px, 295px, 245px, '../img/sprite.png', 'tw-hv', );
$tw-name: 'tw';
$tw-x: 268px;
$tw-y: 82px;
$tw-offset-x: -268px;
$tw-offset-y: -82px;
$tw-width: 24px;
$tw-height: 20px;
$tw-total-width: 295px;
$tw-total-height: 245px;
$tw-image: '../img/sprite.png';
$tw: (268px, 82px, -268px, -82px, 24px, 20px, 295px, 245px, '../img/sprite.png', 'tw', );
$video-name: 'video';
$video-x: 115px;
$video-y: 180px;
$video-offset-x: -115px;
$video-offset-y: -180px;
$video-width: 32px;
$video-height: 22px;
$video-total-width: 295px;
$video-total-height: 245px;
$video-image: '../img/sprite.png';
$video: (115px, 180px, -115px, -180px, 32px, 22px, 295px, 245px, '../img/sprite.png', 'video', );
$spritesheet-width: 295px;
$spritesheet-height: 245px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($cart, $fb-hv, $fb, $flag, $htmlacademy, $huge-arrow-left, $huge-arrow-right, $icon-1, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $ins-hv, $ins, $interior, $logo-footer-hv, $logo-footer-hv2, $logo-footer-hv3, $logo-footer, $logo-footer2, $logo-footer3, $mail-hv, $mail, $phone-hv, $phone, $play, $search, $toy, $tw-hv, $tw, $video, );
$spritesheet: (295px, 245px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
