// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cart-name: 'cart';
$cart-x: 47px;
$cart-y: 61px;
$cart-offset-x: -47px;
$cart-offset-y: -61px;
$cart-width: 21px;
$cart-height: 18px;
$cart-total-width: 236px;
$cart-total-height: 210px;
$cart-image: '../img/sprite.png';
$cart: (47px, 61px, -47px, -61px, 21px, 18px, 236px, 210px, '../img/sprite.png', 'cart', );
$fb-hv-name: 'fb-hv';
$fb-hv-x: 0px;
$fb-hv-y: 181px;
$fb-hv-offset-x: 0px;
$fb-hv-offset-y: -181px;
$fb-hv-width: 15px;
$fb-hv-height: 29px;
$fb-hv-total-width: 236px;
$fb-hv-total-height: 210px;
$fb-hv-image: '../img/sprite.png';
$fb-hv: (0px, 181px, 0px, -181px, 15px, 29px, 236px, 210px, '../img/sprite.png', 'fb-hv', );
$fb-name: 'fb';
$fb-x: 15px;
$fb-y: 181px;
$fb-offset-x: -15px;
$fb-offset-y: -181px;
$fb-width: 15px;
$fb-height: 29px;
$fb-total-width: 236px;
$fb-total-height: 210px;
$fb-image: '../img/sprite.png';
$fb: (15px, 181px, -15px, -181px, 15px, 29px, 236px, 210px, '../img/sprite.png', 'fb', );
$flag-name: 'flag';
$flag-x: 0px;
$flag-y: 0px;
$flag-offset-x: 0px;
$flag-offset-y: 0px;
$flag-width: 47px;
$flag-height: 81px;
$flag-total-width: 236px;
$flag-total-height: 210px;
$flag-image: '../img/sprite.png';
$flag: (0px, 0px, 0px, 0px, 47px, 81px, 236px, 210px, '../img/sprite.png', 'flag', );
$htmlacademy-name: 'htmlacademy';
$htmlacademy-x: 209px;
$htmlacademy-y: 0px;
$htmlacademy-offset-x: -209px;
$htmlacademy-offset-y: 0px;
$htmlacademy-width: 27px;
$htmlacademy-height: 34px;
$htmlacademy-total-width: 236px;
$htmlacademy-total-height: 210px;
$htmlacademy-image: '../img/sprite.png';
$htmlacademy: (209px, 0px, -209px, 0px, 27px, 34px, 236px, 210px, '../img/sprite.png', 'htmlacademy', );
$huge-arrow-left-name: 'huge-arrow-left';
$huge-arrow-left-x: 91px;
$huge-arrow-left-y: 81px;
$huge-arrow-left-offset-x: -91px;
$huge-arrow-left-offset-y: -81px;
$huge-arrow-left-width: 50px;
$huge-arrow-left-height: 26px;
$huge-arrow-left-total-width: 236px;
$huge-arrow-left-total-height: 210px;
$huge-arrow-left-image: '../img/sprite.png';
$huge-arrow-left: (91px, 81px, -91px, -81px, 50px, 26px, 236px, 210px, '../img/sprite.png', 'huge-arrow-left', );
$huge-arrow-right-name: 'huge-arrow-right';
$huge-arrow-right-x: 41px;
$huge-arrow-right-y: 81px;
$huge-arrow-right-offset-x: -41px;
$huge-arrow-right-offset-y: -81px;
$huge-arrow-right-width: 50px;
$huge-arrow-right-height: 26px;
$huge-arrow-right-total-width: 236px;
$huge-arrow-right-total-height: 210px;
$huge-arrow-right-image: '../img/sprite.png';
$huge-arrow-right: (41px, 81px, -41px, -81px, 50px, 26px, 236px, 210px, '../img/sprite.png', 'huge-arrow-right', );
$icon-1-name: 'icon-1';
$icon-1-x: 0px;
$icon-1-y: 143px;
$icon-1-offset-x: 0px;
$icon-1-offset-y: -143px;
$icon-1-width: 33px;
$icon-1-height: 38px;
$icon-1-total-width: 236px;
$icon-1-total-height: 210px;
$icon-1-image: '../img/sprite.png';
$icon-1: (0px, 143px, 0px, -143px, 33px, 38px, 236px, 210px, '../img/sprite.png', 'icon-1', );
$icon-2-name: 'icon-2';
$icon-2-x: 33px;
$icon-2-y: 143px;
$icon-2-offset-x: -33px;
$icon-2-offset-y: -143px;
$icon-2-width: 35px;
$icon-2-height: 34px;
$icon-2-total-width: 236px;
$icon-2-total-height: 210px;
$icon-2-image: '../img/sprite.png';
$icon-2: (33px, 143px, -33px, -143px, 35px, 34px, 236px, 210px, '../img/sprite.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 41px;
$icon-3-y: 107px;
$icon-3-offset-x: -41px;
$icon-3-offset-y: -107px;
$icon-3-width: 47px;
$icon-3-height: 27px;
$icon-3-total-width: 236px;
$icon-3-total-height: 210px;
$icon-3-image: '../img/sprite.png';
$icon-3: (41px, 107px, -41px, -107px, 47px, 27px, 236px, 210px, '../img/sprite.png', 'icon-3', );
$icon-4-name: 'icon-4';
$icon-4-x: 141px;
$icon-4-y: 81px;
$icon-4-offset-x: -141px;
$icon-4-offset-y: -81px;
$icon-4-width: 55px;
$icon-4-height: 23px;
$icon-4-total-width: 236px;
$icon-4-total-height: 210px;
$icon-4-image: '../img/sprite.png';
$icon-4: (141px, 81px, -141px, -81px, 55px, 23px, 236px, 210px, '../img/sprite.png', 'icon-4', );
$icon-5-name: 'icon-5';
$icon-5-x: 88px;
$icon-5-y: 107px;
$icon-5-offset-x: -88px;
$icon-5-offset-y: -107px;
$icon-5-width: 34px;
$icon-5-height: 27px;
$icon-5-total-width: 236px;
$icon-5-total-height: 210px;
$icon-5-image: '../img/sprite.png';
$icon-5: (88px, 107px, -88px, -107px, 34px, 27px, 236px, 210px, '../img/sprite.png', 'icon-5', );
$icon-6-name: 'icon-6';
$icon-6-x: 68px;
$icon-6-y: 143px;
$icon-6-offset-x: -68px;
$icon-6-offset-y: -143px;
$icon-6-width: 33px;
$icon-6-height: 32px;
$icon-6-total-width: 236px;
$icon-6-total-height: 210px;
$icon-6-image: '../img/sprite.png';
$icon-6: (68px, 143px, -68px, -143px, 33px, 32px, 236px, 210px, '../img/sprite.png', 'icon-6', );
$ins-hv-name: 'ins-hv';
$ins-hv-x: 209px;
$ins-hv-y: 122px;
$ins-hv-offset-x: -209px;
$ins-hv-offset-y: -122px;
$ins-hv-width: 22px;
$ins-hv-height: 21px;
$ins-hv-total-width: 236px;
$ins-hv-total-height: 210px;
$ins-hv-image: '../img/sprite.png';
$ins-hv: (209px, 122px, -209px, -122px, 22px, 21px, 236px, 210px, '../img/sprite.png', 'ins-hv', );
$ins-name: 'ins';
$ins-x: 209px;
$ins-y: 143px;
$ins-offset-x: -209px;
$ins-offset-y: -143px;
$ins-width: 22px;
$ins-height: 21px;
$ins-total-width: 236px;
$ins-total-height: 210px;
$ins-image: '../img/sprite.png';
$ins: (209px, 143px, -209px, -143px, 22px, 21px, 236px, 210px, '../img/sprite.png', 'ins', );
$interior-name: 'interior';
$interior-x: 0px;
$interior-y: 81px;
$interior-offset-x: 0px;
$interior-offset-y: -81px;
$interior-width: 41px;
$interior-height: 62px;
$interior-total-width: 236px;
$interior-total-height: 210px;
$interior-image: '../img/sprite.png';
$interior: (0px, 81px, 0px, -81px, 41px, 62px, 236px, 210px, '../img/sprite.png', 'interior', );
$logo-footer-hv-name: 'logo-footer-hv';
$logo-footer-hv-x: 107px;
$logo-footer-hv-y: 0px;
$logo-footer-hv-offset-x: -107px;
$logo-footer-hv-offset-y: 0px;
$logo-footer-hv-width: 102px;
$logo-footer-hv-height: 34px;
$logo-footer-hv-total-width: 236px;
$logo-footer-hv-total-height: 210px;
$logo-footer-hv-image: '../img/sprite.png';
$logo-footer-hv: (107px, 0px, -107px, 0px, 102px, 34px, 236px, 210px, '../img/sprite.png', 'logo-footer-hv', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 107px;
$logo-footer-y: 34px;
$logo-footer-offset-x: -107px;
$logo-footer-offset-y: -34px;
$logo-footer-width: 102px;
$logo-footer-height: 34px;
$logo-footer-total-width: 236px;
$logo-footer-total-height: 210px;
$logo-footer-image: '../img/sprite.png';
$logo-footer: (107px, 34px, -107px, -34px, 102px, 34px, 236px, 210px, '../img/sprite.png', 'logo-footer', );
$mail-hv-name: 'mail-hv';
$mail-hv-x: 154px;
$mail-hv-y: 107px;
$mail-hv-offset-x: -154px;
$mail-hv-offset-y: -107px;
$mail-hv-width: 32px;
$mail-hv-height: 21px;
$mail-hv-total-width: 236px;
$mail-hv-total-height: 210px;
$mail-hv-image: '../img/sprite.png';
$mail-hv: (154px, 107px, -154px, -107px, 32px, 21px, 236px, 210px, '../img/sprite.png', 'mail-hv', );
$mail-name: 'mail';
$mail-x: 101px;
$mail-y: 143px;
$mail-offset-x: -101px;
$mail-offset-y: -143px;
$mail-width: 32px;
$mail-height: 21px;
$mail-total-width: 236px;
$mail-total-height: 210px;
$mail-image: '../img/sprite.png';
$mail: (101px, 143px, -101px, -143px, 32px, 21px, 236px, 210px, '../img/sprite.png', 'mail', );
$phone-hv-name: 'phone-hv';
$phone-hv-x: 209px;
$phone-hv-y: 34px;
$phone-hv-offset-x: -209px;
$phone-hv-offset-y: -34px;
$phone-hv-width: 25px;
$phone-hv-height: 24px;
$phone-hv-total-width: 236px;
$phone-hv-total-height: 210px;
$phone-hv-image: '../img/sprite.png';
$phone-hv: (209px, 34px, -209px, -34px, 25px, 24px, 236px, 210px, '../img/sprite.png', 'phone-hv', );
$phone-name: 'phone';
$phone-x: 209px;
$phone-y: 58px;
$phone-offset-x: -209px;
$phone-offset-y: -58px;
$phone-width: 25px;
$phone-height: 24px;
$phone-total-width: 236px;
$phone-total-height: 210px;
$phone-image: '../img/sprite.png';
$phone: (209px, 58px, -209px, -58px, 25px, 24px, 236px, 210px, '../img/sprite.png', 'phone', );
$search-name: 'search';
$search-x: 186px;
$search-y: 107px;
$search-offset-x: -186px;
$search-offset-y: -107px;
$search-width: 18px;
$search-height: 19px;
$search-total-width: 236px;
$search-total-height: 210px;
$search-image: '../img/sprite.png';
$search: (186px, 107px, -186px, -107px, 18px, 19px, 236px, 210px, '../img/sprite.png', 'search', );
$toy-name: 'toy';
$toy-x: 47px;
$toy-y: 0px;
$toy-offset-x: -47px;
$toy-offset-y: 0px;
$toy-width: 60px;
$toy-height: 61px;
$toy-total-width: 236px;
$toy-total-height: 210px;
$toy-image: '../img/sprite.png';
$toy: (47px, 0px, -47px, 0px, 60px, 61px, 236px, 210px, '../img/sprite.png', 'toy', );
$tw-hv-name: 'tw-hv';
$tw-hv-x: 209px;
$tw-hv-y: 82px;
$tw-hv-offset-x: -209px;
$tw-hv-offset-y: -82px;
$tw-hv-width: 24px;
$tw-hv-height: 20px;
$tw-hv-total-width: 236px;
$tw-hv-total-height: 210px;
$tw-hv-image: '../img/sprite.png';
$tw-hv: (209px, 82px, -209px, -82px, 24px, 20px, 236px, 210px, '../img/sprite.png', 'tw-hv', );
$tw-name: 'tw';
$tw-x: 209px;
$tw-y: 102px;
$tw-offset-x: -209px;
$tw-offset-y: -102px;
$tw-width: 24px;
$tw-height: 20px;
$tw-total-width: 236px;
$tw-total-height: 210px;
$tw-image: '../img/sprite.png';
$tw: (209px, 102px, -209px, -102px, 24px, 20px, 236px, 210px, '../img/sprite.png', 'tw', );
$video-name: 'video';
$video-x: 122px;
$video-y: 107px;
$video-offset-x: -122px;
$video-offset-y: -107px;
$video-width: 32px;
$video-height: 22px;
$video-total-width: 236px;
$video-total-height: 210px;
$video-image: '../img/sprite.png';
$video: (122px, 107px, -122px, -107px, 32px, 22px, 236px, 210px, '../img/sprite.png', 'video', );
$spritesheet-width: 236px;
$spritesheet-height: 210px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($cart, $fb-hv, $fb, $flag, $htmlacademy, $huge-arrow-left, $huge-arrow-right, $icon-1, $icon-2, $icon-3, $icon-4, $icon-5, $icon-6, $ins-hv, $ins, $interior, $logo-footer-hv, $logo-footer, $mail-hv, $mail, $phone-hv, $phone, $search, $toy, $tw-hv, $tw, $video, );
$spritesheet: (236px, 210px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
