.svg-css--svg--sprite.css-097858ce {
	background: url("svg/sprite.css-d52f3bf6.svg") 0 0 no-repeat;
}

.svg-css--svg--sprite.css-097858ce-dims {
	width: 2000px;
	height: 960.92px;
}

.svg-css--svg--sprite.css-3821176b {
	background: url("svg/sprite.css-d52f3bf6.svg") 0 99.99167533818938% no-repeat;
}

.svg-css--svg--sprite.css-3821176b-dims {
	width: 1290px;
	height: 1096px;
}

.svg-css--svg--sprite.css-6fe285a9 {
	background: url("svg/sprite.css-d52f3bf6.svg") 100% 0 no-repeat;
}

.svg-css--svg--sprite.css-6fe285a9-dims {
	width: 1141px;
	height: 584px;
}

.svg-css--svg--sprite.css-e1837d47 {
	background: url("svg/sprite.css-d52f3bf6.svg") 80.12820512820512% 37.799352750809064% no-repeat;
}

.svg-css--svg--sprite.css-e1837d47-dims {
	width: 645px;
	height: 512px;
}

.svg-github {
	background: url("svg/sprite.css-d52f3bf6.svg") 100% 37.799352750809064% no-repeat;
}

.svg-github-dims {
	width: 496px;
	height: 512px;
}

.svg-mishka-logo-des {
	background: url("svg/sprite.css-d52f3bf6.svg") 66.84491978609626% 55.214105793450884% no-repeat;
}

.svg-mishka-logo-des-dims {
	width: 149px;
	height: 72px;
}

.svg-mishka-logo-mob {
	background: url("svg/sprite.css-d52f3bf6.svg") 74.04255319148936% 54.203758654797234% no-repeat;
}

.svg-mishka-logo-mob-dims {
	width: 86px;
	height: 35px;
}

.svg-mishka-logo-tab {
	background: url("svg/sprite.css-d52f3bf6.svg") 70.97093791281374% 54.500248632521135% no-repeat;
}

.svg-mishka-logo-tab-dims {
	width: 113px;
	height: 46px;
}

.svg-symbol--sprite {
	background: url("svg/sprite.css-d52f3bf6.svg") 100% 0 no-repeat;
}

.svg-symbol--sprite-dims {
	width: 0px;
	height: 0px;
}

