.svg-css--svg--sprite.css-e1837d47 {
	background: url("svg/sprite.css-6fe285a9.svg") 0 0 no-repeat;
}

.svg-css--svg--sprite.css-e1837d47-dims {
	width: 645px;
	height: 512px;
}

.svg-github {
	background: url("svg/sprite.css-6fe285a9.svg") 100% 0 no-repeat;
}

.svg-github-dims {
	width: 496px;
	height: 512px;
}

.svg-mishka-logo-des {
	background: url("svg/sprite.css-6fe285a9.svg") 0 100% no-repeat;
}

.svg-mishka-logo-des-dims {
	width: 149px;
	height: 72px;
}

.svg-mishka-logo-mobile {
	background: url("svg/sprite.css-6fe285a9.svg") 24.834123222748815% 93.26047358834244% no-repeat;
}

.svg-mishka-logo-mobile-dims {
	width: 86px;
	height: 35px;
}

.svg-mishka-logo-tablet {
	background: url("svg/sprite.css-6fe285a9.svg") 14.494163424124514% 95.16728624535315% no-repeat;
}

.svg-mishka-logo-tablet-dims {
	width: 113px;
	height: 46px;
}

.svg-symbol--sprite {
	background: url("svg/sprite.css-6fe285a9.svg") 100% 0 no-repeat;
}

.svg-symbol--sprite-dims {
	width: 0px;
	height: 0px;
}

